<table class="uk-table">
  <tr>
    <td>Save conversation
      <button class="uk-button uk-float-right" data-ng-click="ctrl.saveTranscript()">
        <img data-ng-src="{{ ::ctrl.img_24_save }}">
      </button>
    </td>
  </tr>
  <tr>
    <td>Copy to clipboard
      <button class="uk-button uk-float-right" data-ng-click="ctrl.copyTranscript()">
        <img data-ng-src="{{ ::ctrl.img_24_copy }}">
      </button>
    </td>
  </tr>
  <tr>
    <td>Leave room
      <button class="uk-button uk-float-right uk-button-danger" data-ng-click="ctrl.leaveRoom()">
        <img data-ng-src="{{ ::ctrl.img_24_cross }}">
      </button>
    </td>
  </tr>
</table>
