<div id="cc-login-box" class="cc-box cc-root-box cc-shadow" data-ng-controller="ErrorBoxController" data-ng-style="{'margin-right': config.marginRight + 'px'}">

    <div class="uk-vertical-align uk-text-center uk-height-1-1">
        <div class="uk-vertical-align-middle uk-width-1-1" >

            <div class="cc-box-header" data-ng-style="{background: config.headerColor}">Error</div>

            <form class="uk-panel uk-form cc-inner-margin">
                {{ errorBoxMessage }}
            </form>
        </div>
    </div>

    <div data-ng-include src=" partialsURL + 'notification.html'" ></div>
</div>