<div data-ng-controller="MainBoxController" id="cc-main-box" class="cc-box cc-root-box cc-shadow" ng-style="{'width': mainBoxWidth + 'px', 'height': mainBoxHeight + 'px', 'margin-right': config.marginRight + 'px'}" >
    <div class="cc-box-header" data-ng-style="{background: config.headerColor}">
        {{ title }}
        <a class="uk-float-right cc-image-30" title="Hide Chat" data-ng-click="minimizeMainBox()">
            <img data-ng-src="{{ ::img_30_minimize }}" />
        </a>
    </div>

    <div class="cc-tab-container cc-bottom-shadow" data-ng-show="tabCount > 1">
        <div class="cc-tab"
             data-ng-class="[activeTab == 'users' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             data-ng-style="activeTab == 'users' ? {'border-bottom-color': config.headerColor} : null"
             data-ng-click="tabClicked('users')"
             data-ng-show="usersTabEnabled">
            USERS
        </div>
        <div class="cc-tab"
             data-ng-class="[activeTab == 'rooms' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             data-ng-style="activeTab == 'rooms' ? {'border-bottom-color': config.headerColor} : null"
             data-ng-click="tabClicked('rooms')"
             data-ng-show="roomsTabEnabled">
            ROOMS
        </div>
        <div class="cc-tab"
             data-ng-class="[activeTab == 'inbox' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             data-ng-style="activeTab == 'inbox' ? {'border-bottom-color': config.headerColor} : null"
             data-ng-click="tabClicked('inbox')">
            INBOX <span data-ng-show="inboxCount > 0" class="cc-tab-indicator">{{ inboxCount }}</span>
        </div>
        <div class="cc-tab"
             data-ng-class="[activeTab == 'friends' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             data-ng-style="activeTab == 'friends' ? {'border-bottom-color': config.headerColor} : null"
             data-ng-click="tabClicked('friends')"
             data-ng-show="friendsTabEnabled">
            FRIENDS
        </div>
    </div>

    <!--Add the search box-->
    <div class="uk-overflow-container" data-ng-hide="activeTab=='inbox'">
        <form class="uk-panel uk-form uk-float-left cc-padded cc-search-bar"
              data-ng-style="{'width': (mainBoxWidth - (activeTab == 'rooms' && config.usersCanCreatePublicRooms ? 40 : 10)) + 'px'}">

            <input class="uk-width-1-1 uk-form-small" type="text" data-ng-model="search[activeTab]" placeholder="Search" />
        </form>
        <a class="uk-float-right"
           data-ng-show="activeTab == 'rooms' && config.usersCanCreatePublicRooms"
           data-ng-click="showCreateRoomBox()">

            <img class="cc-image-30"  data-ng-src="{{ ::img_30_plus }}" />
        </a>
    </div>

    <div class="uk-overflow-container" data-ng-style="{'height': (mainBoxHeight - 135) + 'px'}">
        <!--Add the table of users / chat rooms-->
        <div data-ng-include data-ng-controller="OnlineUsersListController" data-ng-show="activeTab == 'users'" src=" partialsURL + 'user-list.html'"></div>

        <!--Add the list of public chat rooms-->
        <div data-ng-show="activeTab == 'rooms'" class="cc-hide-overflow-x" data-ng-controller="PublicRoomsListController as ctrl" >
            <div data-ng-include src=" partialsURL + 'room-list.html'"></div>
        </div>

        <!--Add the list of public chat rooms-->
        <div data-ng-show="activeTab == 'inbox'" class="cc-hide-overflow-x">
            <inbox-rooms-list></inbox-rooms-list>
        </div>

        <!--Add the table of users / chat rooms-->
        <div data-ng-include data-ng-show="activeTab == 'friends'" data-ng-controller="UserListController" src=" partialsURL + 'user-list.html'"></div>
    </div>

    <div id="cc-user-details">
        <img class="cc-thumbnail-20 cc-margin-5 uk-float-left" data-ng-src="{{ user.getThumbnail() }}" />
        <div class="uk-float-left cc-user-name cc-ellipsis">
            {{ getUser().getName() }}
        </div>
        <a class="uk-float-right cc-valign-image-fix"
           data-ng-hide="config.disableProfileBox"
           title="Settings"
           data-ng-click="showProfileSettingsBox()">
            <img class="cc-image-30 cc-right-margin-5" data-ng-src="{{ ::img_30_gear }}" />
        </a>
        <!--</span>-->
    </div>
</div>
