<div id="cc-profile-box"
     class="cc-shadow-diffuse"
     data-ng-style="ctrl.style"
     data-ng-show="ctrl.user && !ctrl.dragging"
     data-ng-mouseenter="ctrl.onMouseEnter()"
     data-ng-mouseleave="ctrl.onMouseLeave()"
     center-mouse-y>
    <div data-ng-hide="ctrl.profileHTML && ctrl.profileHTML.length > 0">
        <div class="cc-right-margin-5">
            <img id="cc-profile-picture" class="cc-thumbnail-30 uk-float-left" data-ng-src="{{ ctrl.user.getThumbnail() }}" />
            <span class="uk-float-left" >
                <div data-ng-hide="config.userProfileLinkEnabled && ctrl.user.getProfileLink().length > 0"
                     class="uk-text-bold cc-user-name cc-ellipsis">{{ ctrl.user.getName() }}</div>
                <div data-ng-show="config.userProfileLinkEnabled && ctrl.user.getProfileLink().length > 0"
                     class="uk-text-bold cc-user-name cc-ellipsis"><a data-ng-href="{{ ctrl.user.getProfileLink() }}" target="_blank">{{ user.getName() }}</a></div>
                <div class="cc-profile-subtitle uk-text-muted cc-italic cc-ellipsis">{{ ctrl.user.getLocation() }}</div>
            </span>
            <div class="f32 uk-float-right" >
                <span class="flag {{ ctrl.user.getCountryCode() | lowercase }}"></span>
            </div>
            <span class="cc-user-id cc-pointer" data-ng-click="ctrl.copyUserID()" >Copy ID</span>
        </div>
        <div class="uk-grid">
            <div class="uk-text-justify uk-text-small cc-profile-description">
                {{ ctrl.user.getStatus() }}
            </div>
            <div class="uk-text-small cc-margin-5 uk-align-right"
                 style="margin-right: 10px"
                 data-ng-show="ctrl.user.getHomepageLink() && ctrl.user.getHomepageLink().length">
                <a data-ng-href="{{ ctrl.user.getHomepageLink() }}">{{ ctrl.user.getHomepageText() }}</a>
            </div>
        </div>
    </div>
    <div data-ng-show="ctrl.profileHTML.length > 0">
        <div data-ng-bind-html="ctrl.profileHTML"></div>
    </div>
    <div class="uk-grid uk-grid-small" style="padding: 5px;">
        <div class="uk-width-1-4 uk-text-center">
            <button class="uk-button uk-button-success uk-button-small uk-text-center" data-ng-click="ctrl.startChat()">Chat</button>
        </div>
        <div class="uk-width-2-4 uk-text-center" data-ng-hide="ctrl.user.ssoFriend || !ctrl.friendsEnabled">
            <button class="uk-button uk-button-primary uk-button-small uk-text-center" data-ng-click="ctrl.addRemoveFriend()">{{ ctrl.isFriend(ctrl.user) ? 'Remove friend' : 'Add friend' }}</button>
        </div>
        <div class="uk-width-1-4 uk-text-center">
            <button class="uk-button uk-button-danger uk-button-small uk-text-center" data-ng-click="ctrl.blockUnblockUser()">{{ ctrl.isBlocked(ctrl.user) ? 'Unblock' : 'Block' }}</button>
        </div>
    </div>
</div>
