<table class="uk-table uk-table-hover cc-room-list">
    <!--<tr data-ng-repeat="(id, room) in getRooms()">-->
    <tr data-ng-repeat="(key, room) in ctrl.rooms">
        <td class="cc-pointer" data-ng-click="ctrl.roomClicked(room)"
            title="{{ room.meta.description }}" data-cc-flash="room-list">
            <div class="uk-overflow-container cc-height-20 cc-pointer">

                <img data-ng-show="room.showImage" class="cc-thumbnail-30 cc-user-image uk-float-left" data-ng-src="{{ room.thumbnail }}"/>

                <!-- Room name -->
                <!-- Line height is a fix to stop icon being too low down -->
                <div class="uk-float-left cc-valign-image-fix cc-right-margin-5" >
                    <a class="cc-thumbnail-20" data-ng-show="ctrl.canCloseRoom" data-ng-click="room.close()">
                        <img data-ng-src="{{ ::img_20_cross }}" />
                    </a>
                </div>
                <div class="uk-float-left uk-text-bold" data-ng-style="{'max-width': (boxWidth - 80) + 'px' }">
                    <div class="cc-ellipsis uk-float-left cc-pointer">
                        {{ room.name }}
                    </div>
                </div>
                <!-- Number of users -->
                <div class="uk-float-right cc-right-margin-5 cc-pointer">
                    <div class="cc-badge uk-float-right" data-ng-show="room.badge" >
                        {{ room.badge }}
                    </div>
                    <img class="uk-float-right"  data-ng-src="{{ ::img_20_user }}" />
                    <div class="uk-float-right"> {{ room.onlineUserCount }}</div>
                </div>
            </div>
            <!--We need to subtract 10 for the padding -->
            <div class="cc-last-message cc-ellipsis" data-ng-style="{'width': (boxWidth - 20) + 'px' }">
                <div data-ng-show="room.lastMessageUserName() && room.lastMessageText()">
                    <div class="uk-float-left cc-ellipsis cc-title cc-pointer" >
                        {{ room.lastMessageUserName() }}:
                        &nbsp;
                    </div>
                    <div class="cc-ellipsis cc-pointer cc-message" data-ng-bind-html="room.lastMessageText() | linky: '_blank' | emoji">
                </div>
            </div>
        </td>
    </tr>
</table>
