
/**
 * Base element - this is the horizontal bar along the bottom of the screen
 */

/*div#cc-app *.cc-overlay, div#cc-app *.cc-notification {*/
    /*position: absolute;*/
/*}*/

/* Reset all styles! */
* div#cc-base {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    line-height: 20px !important;
    font-size: 14px !important;
    vertical-align: middle !important;
    display: initial !important;
}

div#cc-base span {
    display: initial !important;
}

div#cc-base table {
    border-collapse: collapse;
    border-spacing: 0;
}

div#cc-app a {
    cursor: pointer;
    color: #333;
    text-transform: none;
}

div#cc-app a:hover {
    cursor: pointer;
    color: #777;
}

div#cc-base textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div#cc-base .uk-form-row textarea {
    font-size: 0.8em;
    font-style: italic;
}

div#cc-base .uk-button {
    font-size: 0.9em;
}

div#cc-base .uk-form-row input, div#cc-base .uk-form-row select {
    font-size: 0.8em;
}

div#cc-base {

    color: #444 !important;

    position: fixed !important;
    width: 100% !important;
    height: 30px !important;
    bottom: 0 !important;
    left: 0 !important;
    font-family: 'Helvetica Neue', 'Helvetica', 'Tahoma', 'Arial', sans-serif !important;

    background: rgba(0,0,0,0.2) !important;

    z-index: 900000 !important;
}

/* The bottom bar for the menu box */
 div.cc-menu-bar {
    position: fixed;
    width: 200px;
    right: 0;
}

/* The style of any text in the base */
 .cc-base-text {
    width: 100%;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    line-height: 30px;
    cursor: pointer;
    /*display: block;*/
    background-color: rgba(255,255,255,0.9);
}

/* The inner span is to add padding */
 .cc-base-text div.cc-inner {
    /*padding: 0px 10px;*/
    margin-left: 10px;
}

/* A box is an element that floats above the base bar */
.cc-box {
    position: fixed;
    bottom: 30px;
}

/* Defines the right most box */
.cc-root-box {
    right: 0;
    width: 250px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;

    background: white;
}

.cc-inner-margin {
    margin: 10px;
}

/* The header region of a box */
.cc-box-header {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    background-color: #0d82b3;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border-left: solid 1px #0d82b3;*/
    /*border-right: solid 1px #0d82b3;*/
    width: 100%;
}

.cc-box-header div {
    overflow: hidden;
}

/**
 * Login Box
 */

div#cc-login-box {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Make sure the form contained within the
   login box doesn't have a rounded corner */
div#cc-login-box form {
    border-top-left-radius: 0;
}

/* Forgot password text */
#cc-login-forgot-row {
    text-align: right;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
}

/**
 * Menu box
 */

div#cc-main-box {
    /*max-height: 600px;*/
    /*min-height: 300px;*/

    z-index: 100;

}

/* This inner container contains the table
   of users or chats - the margin at the bottom
   is so it doesn't cover the user profile */
div#cc-main-box .cc-inner {
    /*border-left: solid 1px #ddd;*/
    margin-bottom: 30px;
}

/* The footer exists to allow the menu box to
   change size as the number of users changes
   the footer provides the bottom and left borders */
div#cc-main-box #cc-main-box {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 230px;
    /*border-left: solid 1px #ddd;*/
    /*border-bottom: solid 1px #ddd;*/

    border-bottom-left-radius: 5px;
    z-index: -10;
}

/* The user details area shows the user's profile picture
   and name - it's absolutely positioned at the bottom of
   the view */
div#cc-main-box div#cc-user-details {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-top: solid 1px #ddd;
    border-bottom-left-radius: 5px;
    font-weight: bold;
    z-index: 30;
}

.cc-profile-subtitle {
    font-size: 0.9em;
}

/* The user profile overlay */
div#cc-profile-box {
    position: fixed;
    right: 250px;
    bottom: 144px;
    /*border: 1px solid #d3d3d3;*/
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 246px;
    z-index: 200;
    overflow: auto;
    background: white;
}

#cc-profile-picture {
    margin: 5px 10px 5px 5px;
}

.cc-user-name {
    margin-top: 5px;
}

.cc-right-margin-5 {
    margin-right: 5px;
}

/**
 * Room list box
 */

#cc-base div.cc-room-list-box {
    width: 100%;
    height: 300px;
    left: 0;

    background-color: #ffffff;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 20;
}

/* The base of the room list box */
div.cc-room-list-bar {
    position: fixed;
    width: 100px;
    left: 0;
}



/**
 * Room list
 */

/*div.room-list {*/
    /*overflow-x: hidden;*/
/*}*/


#cc-base .cc-room-list td {
    background: #fff;
    padding: 5px;
}

#cc-base .cc-room-list td:hover {
    background: #EEE;
}

.cc-room-list div.cc-last-message {
    font-size: 0.8em;
}

.cc-room-list div.cc-last-message .cc-title {
    font-weight: bold;
    max-width: 30%;
}

.cc-room-list div.cc-last-message .cc-message {
    font-style: italic;
}

.cc-room-list div.cc-badge {
    float: right;
    /*position: absolute;*/
    /*top: 6px;*/
    /*right: -10px;*/
}
/**
 * Chat box
 */

div.cc-chat-box-outer {
    position:fixed;
    /*background: red;*/
    /*overflow-y: auto;*/
    /*width: 230px;*/
    /*height: 330px;*/
    bottom: 0;
    /*right: 400px*/
}

div.cc-chat-box {
    position: relative;

    width: 230px;
    height: 300px;
    background-color: rgba(255,255,255,1);
    /*border: 1px solid #888;*/

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 7;

}

/* The base of the chat box */
div.cc-chat-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    z-index: -10;
}

div.cc-chat-bar div.cc-name {
    max-width: 150px;
}

/* Position the badge */
div.cc-chat-box-outer div.cc-badge {
    position: absolute;
    bottom: 20px;
    right: 190px;
}

/* The area that contains the messages */
div.cc-chat-box div.cc-chat-box-msgs {
    height: 240px;
    overflow-y: auto;
    width: 100%;
}

/* The text area container */
div.cc-chat-box div.cc-chat-box-msg {
    /* Take into account the top border */
    /*height: 59px;*/
    border-top: solid 1px #ddd;
    border-bottom-left-radius: 5px;
    width: 100%;
    position: relative;
}

/* The text input text area */
div.cc-chat-box div.cc-chat-box-msg textarea.cc-chat-box-msg-txt {
    border: 1px solid #fff;

    max-height: 28px;
    /*width: 225px;*/
   /*margin-left: 5px;*/

    width: 100%;

    resize: none;
    font-size: 12px;
    border-bottom-left-radius: 5px;

    line-height: 20px;

    /*transition: all 0.2s linear 0s;*/
    overflow: hidden;

    box-sizing: border-box;
}

div.cc-chat-box div.cc-chat-box-msg textarea.cc-chat-box-msg-txt:focus {
    background: none repeat scroll 0 0 #f5fbfe;
    borde-color: #99baca;
    color: #444444;
    outline: 0 none;
}

/* The outer div container for the message */
div.cc-message-outer {
    position: relative;
    width:100%;
    overflow: auto
}

div.cc-message-outer img {
    position: absolute;
    bottom: 0;
}

div.cc-message-outer .time {
    text-align: center;
    color: #777;
    line-height: 13px;
}

.cc-abs-right {
    right: 2px;
}

.cc-abs-left {
    left: 2px;
}

.cc-message-margin {
    margin: 1px 2px 0 2px;
}

.cc-bubble
{
    position: relative;
    max-width: 158px;

    padding: 5px;
    margin: 2px 0px;

    border-radius: 8px;

    display: inline-block;
    word-wrap: break-word;

}

.cc-bubble:after
{
    content: "";
    position: absolute;
    bottom: 7px;
    border-style: solid;
    display: block;
    width: 0;
    z-index: 1;
}

.cc-right-bubble {
    float: right;
    margin-right: 15px;
    background: #EEE;
    right: 27px;
}

.cc-right-bubble:after {
    border-width: 5px 0 5px 9px;
    border-color: transparent #EEE;
    right: -9px;
}

.cc-left-bubble {
    float: left;
    margin-left: 15px;
    background: #91dfff;
    left: 27px;
}

.cc-left-bubble:after {
    border-width: 5px 9px 5px 0;
    border-color: transparent #91dfff;
    left: -9px;
}

.cc-user-drag {
    position: absolute;
    opacity: 0.6;
    z-index: 2000;
    pointer-events:none;
    background: #ff0000;
    width:150px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding-left: 5px;
}

/* Chat invite */

div.cc-notification-outer {
    position: inherit!important;
}

div.cc-chat-box .cc-overlay-content {
    max-width: 100%;
    max-height: 70px;
    color: black;
}

div.cc-chat-box .cc-overlay-content .title {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 5px;
}

div.cc-chat-box .cc-overlay-content .subtitle {
    font-size: 0.9em;
    color: #777;
    font-style: italic;
}

div.cc-chat-box .cc-overlay-content img {
    margin: 10px 5px;
}


/**
 * Profile settings box
 */

div#cc-profile-settings-box {
    font-size: 14px;
    font-weight: normal;
    color: gray;
    font-style: italic;

    background: white;

    z-index: 200;
}

/**
 * Create chat box
 */

div#cc-create-room-box {
    z-index: 200;
}



/**
 * GENERAL
 */

div#cc-base a {
    text-decoration: none;
}

div#cc-base .subtitle {
    font-style: italic;
    color: gray;
    font-weight: normal;
}

.cc-padded {
    padding: 5px;
}

.cc-thumbnail-20 {
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.cc-thumbnail-30 {
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.cc-image-30 {
    width: 30px;
    height: 30px;
}

.cc-image-40 {
    width: 40px;
    height: 40px;
}

.cc-thumbnail-100 {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.cc-hidden-input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

#cc-base a.cc-resize-cursor {
    cursor: nwse-resize;
}

.cc-pointer {
    cursor: pointer;
}

.cc-italic {
    font-style: italic;
}

.cc-shadow {
    -moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
}

.cc-shadow-diffuse {
    -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.2);
}

.cc-bottom-shadow {
    -moz-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2);
}

.cc-tab-container {
    width: 100%;
    margin-bottom: 5px;
    overflow: auto;
    background-color: rgba(255,255,255,0.8);
}

.cc-tab {
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    float: left;
    /*background: #F0F0F0;*/
    background: #FFF;
    border-bottom: solid #FFF 3px;
    border-top: solid #FFF 3px;
    color: #AAA;
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.cc-tab:hover {
    color: #555;
}

.cc-tab.selected {
    color: black;
    border-bottom: solid #0d82b3 3px;
}

.cc-tab-small {
    height: 18px;
    line-height: 18px;
    font-size: 10px;
    border-bottom-width: 2px;
    border-top-width: 2px;
}

.cc-tab-small.selected {
    border-bottom-width: 2px;
}

.cc-tab-1-2 {
    width: 50%;
}

.cc-tab-1-3 {
    width: 33.33%;
}

.cc-bg-blue {
    background-color: #0d82b3;
}

#cc-base .uk-table td.cc-row {
    border: none;
    border-left: 5px solid #FFF;
    cursor: pointer;
    background: #fff;
}

#cc-base .uk-table td.cc-row.cc-online {
    border: none;
    border-left: 5px solid #70f067;
}

#cc-base .uk-table td.cc-row.cc-offline {
    border: none;
    border-left: 5px solid #999;
    cursor: default;
}

#cc-base .uk-table td.cc-row.cc-blocked {
    border: none;
    border-left: 5px solid #b04848;
}

/*.cc-row:hover, .uk-table td.cc-row:hover {*/
    /*border-left: 5px solid #0d82b3;*/
/*}*/

.cc-flag {
    margin-left: 10px;
}

.cc-badge {

    background: #ba1440;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    z-index: 1000;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
}

.cc-typing-indicator {
    position: absolute;
    font-style: italic;
    background-color: rgba(255,255,255,0.9);
    border-top-right-radius: 5px;
    padding: 0 3px 3px 3px;
    top: -24px;
    font-size: 11px;
    color: #808080;
}

.cc-section-header {
    font-weight: bold;
    font-style: italic;
}


/**
 * Overlay
 */

div#cc-app div.cc-overlay {
    position:absolute !important;
    width:100%;
    height: 100%;
    bottom:0;
    right: 0;
    background: black;
    opacity: 0.1;
    z-index:100;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cc-overlay-white {
    background: #ffffff;
    color: #000000;
    opacity: 0.9;
}

div#cc-app div.cc-overlay-content {
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    z-index:101;
    max-width: 150px;
    max-height: 150px;
    color: #BBBBBB;
    text-align: center;
}

.cc-overlay-content {
    line-height: 1em;
    font-size: 0.8em;
}

div#cc-app div.cc-notification {
    position: absolute !important;
    margin: auto;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 80%;
    height: 100px;
    background: white;

    text-align: center;

    z-index:101;

    line-height: 0.9;
}
.cc-notification div {
    margin: 7px;
}

.cc-notification div img {
    margin: 8px;
}

.cc-notification div span.title {
    font-weight: bold;
    color: #666;
}

.cc-notification div span.cc-message {
    font-size: 0.8em;
    color: #777;
}

.cc-notification div.button-outer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: -5px;
}

 a.disabled {
    pointer-events: none,
    cursor: default;
}

.cc-animated-200 {
    transition: all 0.2s linear 0s;
}

.cc-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cc-center {
    margin: 0px auto;
}

.cc-hide-overflow-x {
    overflow-x: hidden;
}

.cc-disable-highlight {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cc-base button, #cc-base a {
    /*color: #ffffff;*/
    text-decoration: none;
}

#cc-base button:hover, #cc-base a:hover {
    /*color: #ffffff;*/
    text-decoration: none;
}

/*#cc-base button.cc-dark, #cc-base a.cc-dark {*/
    /*color: #333;*/
/*}*/

/*#cc-base button.cc-dark:hover, #cc-base a.cc-dark:hover {*/
    /*color: #000;*/
/*}*/

#cc-base .cc-margin-5 {
    margin:5px;
}

#cc-base tbody {
    border: none;
}

