div#cc-app .f48 .flag.semi {
	background:url('../../images/flags/flags48_semi.png') no-repeat;
}
div#cc-app .f48 ._Afriican_Union.semi{background-position:0 -0px;}
div#cc-app .f48 ._Arabb_League.semi{background-position:0 -48px;}
div#cc-app .f48 ._ASEAAN.semi{background-position:0 -96px;}
div#cc-app .f48 ._CARIICOM.semi{background-position:0 -144px;}
div#cc-app .f48 ._CIS.semi{background-position:0 -192px;}
div#cc-app .f48 ._Commmonwealth.semi{background-position:0 -240px;}
div#cc-app .f48 ._Englland.semi{background-position:0 -288px;}
div#cc-app .f48 ._Euroopean_Union.semi{background-position:0 -336px;}
div#cc-app .f48 ._Islaamic_Conference.semi{background-position:0 -384px;}
div#cc-app .f48 ._Kosoovo.semi{background-position:0 -432px;}
div#cc-app .f48 ._NATOO.semi{background-position:0 -480px;}
div#cc-app .f48 ._Nortthern_Cyprus.semi{background-position:0 -528px;}
div#cc-app .f48 ._Nortthern_Ireland.semi{background-position:0 -576px;}
div#cc-app .f48 ._Olymmpic_Movement.semi{background-position:0 -624px;}
div#cc-app .f48 ._OPECC.semi{background-position:0 -672px;}
div#cc-app .f48 ._Red__Cross.semi{background-position:0 -720px;}
div#cc-app .f48 ._Scottland.semi{background-position:0 -768px;}
div#cc-app .f48 ._Somaaliland.semi{background-position:0 -816px;}
div#cc-app .f48 ._Tibeet.semi{background-position:0 -864px;}
div#cc-app .f48 ._Unitted_Nations.semi{background-position:0 -912px;}
div#cc-app .f48 ._Walees.semi{background-position:0 -960px;}
div#cc-app .f48 .ad.semi{background-position:0 -1008px;}
div#cc-app .f48 .ae.semi{background-position:0 -1056px;}
div#cc-app .f48 .af.semi{background-position:0 -1104px;}
div#cc-app .f48 .ag.semi{background-position:0 -1152px;}
div#cc-app .f48 .ai.semi{background-position:0 -1200px;}
div#cc-app .f48 .al.semi{background-position:0 -1248px;}
div#cc-app .f48 .am.semi{background-position:0 -1296px;}
div#cc-app .f48 .an.semi{background-position:0 -1344px;}
div#cc-app .f48 .ao.semi{background-position:0 -1392px;}
div#cc-app .f48 .aq.semi{background-position:0 -1440px;}
div#cc-app .f48 .ar.semi{background-position:0 -1488px;}
div#cc-app .f48 .as.semi{background-position:0 -1536px;}
div#cc-app .f48 .at.semi{background-position:0 -1584px;}
div#cc-app .f48 .au.semi{background-position:0 -1632px;}
div#cc-app .f48 .aw.semi{background-position:0 -1680px;}
div#cc-app .f48 .az.semi{background-position:0 -1728px;}
div#cc-app .f48 .ba.semi{background-position:0 -1776px;}
div#cc-app .f48 .bb.semi{background-position:0 -1824px;}
div#cc-app .f48 .bd.semi{background-position:0 -1872px;}
div#cc-app .f48 .be.semi{background-position:0 -1920px;}
div#cc-app .f48 .bf.semi{background-position:0 -1968px;}
div#cc-app .f48 .bg.semi{background-position:0 -2016px;}
div#cc-app .f48 .bh.semi{background-position:0 -2064px;}
div#cc-app .f48 .bi.semi{background-position:0 -2112px;}
div#cc-app .f48 .bj.semi{background-position:0 -2160px;}
div#cc-app .f48 .bm.semi{background-position:0 -2208px;}
div#cc-app .f48 .bn.semi{background-position:0 -2256px;}
div#cc-app .f48 .bo.semi{background-position:0 -2304px;}
div#cc-app .f48 .br.semi{background-position:0 -2352px;}
div#cc-app .f48 .bs.semi{background-position:0 -2400px;}
div#cc-app .f48 .bt.semi{background-position:0 -2448px;}
div#cc-app .f48 .bw.semi{background-position:0 -2496px;}
div#cc-app .f48 .by.semi{background-position:0 -2544px;}
div#cc-app .f48 .bz.semi{background-position:0 -2592px;}
div#cc-app .f48 .ca.semi{background-position:0 -2640px;}
div#cc-app .f48 .cd.semi{background-position:0 -2688px;}
div#cc-app .f48 .cf.semi{background-position:0 -2736px;}
div#cc-app .f48 .cg.semi{background-position:0 -2784px;}
div#cc-app .f48 .ch.semi{background-position:0 -2832px;}
div#cc-app .f48 .ci.semi{background-position:0 -2880px;}
div#cc-app .f48 .ck.semi{background-position:0 -2928px;}
div#cc-app .f48 .cl.semi{background-position:0 -2976px;}
div#cc-app .f48 .cm.semi{background-position:0 -3024px;}
div#cc-app .f48 .cn.semi{background-position:0 -3072px;}
div#cc-app .f48 .co.semi{background-position:0 -3120px;}
div#cc-app .f48 .cr.semi{background-position:0 -3168px;}
div#cc-app .f48 .cu.semi{background-position:0 -3216px;}
div#cc-app .f48 .cv.semi{background-position:0 -3264px;}
div#cc-app .f48 .cy.semi{background-position:0 -3312px;}
div#cc-app .f48 .cz.semi{background-position:0 -3360px;}
div#cc-app .f48 .de.semi{background-position:0 -3408px;}
div#cc-app .f48 .dj.semi{background-position:0 -3456px;}
div#cc-app .f48 .dk.semi{background-position:0 -3504px;}
div#cc-app .f48 .dm.semi{background-position:0 -3552px;}
div#cc-app .f48 .do.semi{background-position:0 -3600px;}
div#cc-app .f48 .dz.semi{background-position:0 -3648px;}
div#cc-app .f48 .ec.semi{background-position:0 -3696px;}
div#cc-app .f48 .ee.semi{background-position:0 -3744px;}
div#cc-app .f48 .eg.semi{background-position:0 -3792px;}
div#cc-app .f48 .eh.semi{background-position:0 -3840px;}
div#cc-app .f48 .er.semi{background-position:0 -3888px;}
div#cc-app .f48 .es.semi{background-position:0 -3936px;}
div#cc-app .f48 .et.semi{background-position:0 -3984px;}
div#cc-app .f48 .fi.semi{background-position:0 -4032px;}
div#cc-app .f48 .fj.semi{background-position:0 -4080px;}
div#cc-app .f48 .fm.semi{background-position:0 -4128px;}
div#cc-app .f48 .fo.semi{background-position:0 -4176px;}
div#cc-app .f48 .fr.semi{background-position:0 -4224px;}
div#cc-app .f48 .ga.semi{background-position:0 -4272px;}
div#cc-app .f48 .gb.semi{background-position:0 -4320px;}
div#cc-app .f48 .gd.semi{background-position:0 -4368px;}
div#cc-app .f48 .ge.semi{background-position:0 -4416px;}
div#cc-app .f48 .gg.semi{background-position:0 -4464px;}
div#cc-app .f48 .gh.semi{background-position:0 -4512px;}
div#cc-app .f48 .gi.semi{background-position:0 -4560px;}
div#cc-app .f48 .gl.semi{background-position:0 -4608px;}
div#cc-app .f48 .gm.semi{background-position:0 -4656px;}
div#cc-app .f48 .gn.semi{background-position:0 -4704px;}
div#cc-app .f48 .gp.semi{background-position:0 -4752px;}
div#cc-app .f48 .gq.semi{background-position:0 -4800px;}
div#cc-app .f48 .gr.semi{background-position:0 -4848px;}
div#cc-app .f48 .gt.semi{background-position:0 -4896px;}
div#cc-app .f48 .gu.semi{background-position:0 -4944px;}
div#cc-app .f48 .gw.semi{background-position:0 -4992px;}
div#cc-app .f48 .gy.semi{background-position:0 -5040px;}
div#cc-app .f48 .hk.semi{background-position:0 -5088px;}
div#cc-app .f48 .hn.semi{background-position:0 -5136px;}
div#cc-app .f48 .hr.semi{background-position:0 -5184px;}
div#cc-app .f48 .ht.semi{background-position:0 -5232px;}
div#cc-app .f48 .hu.semi{background-position:0 -5280px;}
div#cc-app .f48 .id.semi{background-position:0 -5328px;}
div#cc-app .f48 .mc.semi{background-position:0 -5328px;}
div#cc-app .f48 .ie.semi{background-position:0 -5376px;}
div#cc-app .f48 .il.semi{background-position:0 -5424px;}
div#cc-app .f48 .im.semi{background-position:0 -5472px;}
div#cc-app .f48 .in.semi{background-position:0 -5520px;}
div#cc-app .f48 .iq.semi{background-position:0 -5568px;}
div#cc-app .f48 .ir.semi{background-position:0 -5616px;}
div#cc-app .f48 .is.semi{background-position:0 -5664px;}
div#cc-app .f48 .it.semi{background-position:0 -5712px;}
div#cc-app .f48 .je.semi{background-position:0 -5760px;}
div#cc-app .f48 .jm.semi{background-position:0 -5808px;}
div#cc-app .f48 .jo.semi{background-position:0 -5856px;}
div#cc-app .f48 .jp.semi{background-position:0 -5904px;}
div#cc-app .f48 .ke.semi{background-position:0 -5952px;}
div#cc-app .f48 .kg.semi{background-position:0 -6000px;}
div#cc-app .f48 .kh.semi{background-position:0 -6048px;}
div#cc-app .f48 .ki.semi{background-position:0 -6096px;}
div#cc-app .f48 .km.semi{background-position:0 -6144px;}
div#cc-app .f48 .kn.semi{background-position:0 -6192px;}
div#cc-app .f48 .kp.semi{background-position:0 -6240px;}
div#cc-app .f48 .kr.semi{background-position:0 -6288px;}
div#cc-app .f48 .kw.semi{background-position:0 -6336px;}
div#cc-app .f48 .ky.semi{background-position:0 -6384px;}
div#cc-app .f48 .kz.semi{background-position:0 -6432px;}
div#cc-app .f48 .la.semi{background-position:0 -6480px;}
div#cc-app .f48 .lb.semi{background-position:0 -6528px;}
div#cc-app .f48 .lc.semi{background-position:0 -6576px;}
div#cc-app .f48 .li.semi{background-position:0 -6624px;}
div#cc-app .f48 .lk.semi{background-position:0 -6672px;}
div#cc-app .f48 .lr.semi{background-position:0 -6720px;}
div#cc-app .f48 .ls.semi{background-position:0 -6768px;}
div#cc-app .f48 .lt.semi{background-position:0 -6816px;}
div#cc-app .f48 .lu.semi{background-position:0 -6864px;}
div#cc-app .f48 .lv.semi{background-position:0 -6912px;}
div#cc-app .f48 .ly.semi{background-position:0 -6960px;}
div#cc-app .f48 .ma.semi{background-position:0 -7008px;}
div#cc-app .f48 .md.semi{background-position:0 -7056px;}
div#cc-app .f48 .me.semi{background-position:0 -7104px;}
div#cc-app .f48 .mg.semi{background-position:0 -7152px;}
div#cc-app .f48 .mh.semi{background-position:0 -7200px;}
div#cc-app .f48 .mk.semi{background-position:0 -7248px;}
div#cc-app .f48 .ml.semi{background-position:0 -7296px;}
div#cc-app .f48 .mm.semi{background-position:0 -7344px;}
div#cc-app .f48 .mn.semi{background-position:0 -7392px;}
div#cc-app .f48 .mo.semi{background-position:0 -7440px;}
div#cc-app .f48 .mq.semi{background-position:0 -7488px;}
div#cc-app .f48 .mr.semi{background-position:0 -7536px;}
div#cc-app .f48 .ms.semi{background-position:0 -7584px;}
div#cc-app .f48 .mt.semi{background-position:0 -7632px;}
div#cc-app .f48 .mu.semi{background-position:0 -7680px;}
div#cc-app .f48 .mv.semi{background-position:0 -7728px;}
div#cc-app .f48 .mw.semi{background-position:0 -7776px;}
div#cc-app .f48 .mx.semi{background-position:0 -7824px;}
div#cc-app .f48 .my.semi{background-position:0 -7872px;}
div#cc-app .f48 .mz.semi{background-position:0 -7920px;}
div#cc-app .f48 .na.semi{background-position:0 -7968px;}
div#cc-app .f48 .nc.semi{background-position:0 -8016px;}
div#cc-app .f48 .ne.semi{background-position:0 -8064px;}
div#cc-app .f48 .ng.semi{background-position:0 -8112px;}
div#cc-app .f48 .ni.semi{background-position:0 -8160px;}
div#cc-app .f48 .nl.semi{background-position:0 -8208px;}
div#cc-app .f48 .no.semi{background-position:0 -8256px;}
div#cc-app .f48 .np.semi{background-position:0 -8304px;}
div#cc-app .f48 .nr.semi{background-position:0 -8352px;}
div#cc-app .f48 .nz.semi{background-position:0 -8400px;}
div#cc-app .f48 .om.semi{background-position:0 -8448px;}
div#cc-app .f48 .pa.semi{background-position:0 -8496px;}
div#cc-app .f48 .pe.semi{background-position:0 -8544px;}
div#cc-app .f48 .pf.semi{background-position:0 -8592px;}
div#cc-app .f48 .pg.semi{background-position:0 -8640px;}
div#cc-app .f48 .ph.semi{background-position:0 -8688px;}
div#cc-app .f48 .pk.semi{background-position:0 -8736px;}
div#cc-app .f48 .pl.semi{background-position:0 -8784px;}
div#cc-app .f48 .pr.semi{background-position:0 -8832px;}
div#cc-app .f48 .ps.semi{background-position:0 -8880px;}
div#cc-app .f48 .pt.semi{background-position:0 -8928px;}
div#cc-app .f48 .pw.semi{background-position:0 -8976px;}
div#cc-app .f48 .py.semi{background-position:0 -9024px;}
div#cc-app .f48 .qa.semi{background-position:0 -9072px;}
div#cc-app .f48 .re.semi{background-position:0 -9120px;}
div#cc-app .f48 .ro.semi{background-position:0 -9168px;}
div#cc-app .f48 .rs.semi{background-position:0 -9216px;}
div#cc-app .f48 .ru.semi{background-position:0 -9264px;}
div#cc-app .f48 .rw.semi{background-position:0 -9312px;}
div#cc-app .f48 .sa.semi{background-position:0 -9360px;}
div#cc-app .f48 .sb.semi{background-position:0 -9408px;}
div#cc-app .f48 .sc.semi{background-position:0 -9456px;}
div#cc-app .f48 .sd.semi{background-position:0 -9504px;}
div#cc-app .f48 .se.semi{background-position:0 -9552px;}
div#cc-app .f48 .sg.semi{background-position:0 -9600px;}
div#cc-app .f48 .si.semi{background-position:0 -9648px;}
div#cc-app .f48 .sk.semi{background-position:0 -9696px;}
div#cc-app .f48 .sl.semi{background-position:0 -9744px;}
div#cc-app .f48 .sm.semi{background-position:0 -9792px;}
div#cc-app .f48 .sn.semi{background-position:0 -9840px;}
div#cc-app .f48 .so.semi{background-position:0 -9888px;}
div#cc-app .f48 .sr.semi{background-position:0 -9936px;}
div#cc-app .f48 .st.semi{background-position:0 -9984px;}
div#cc-app .f48 .sv.semi{background-position:0 -10032px;}
div#cc-app .f48 .sy.semi{background-position:0 -10080px;}
div#cc-app .f48 .sz.semi{background-position:0 -10128px;}
div#cc-app .f48 .tc.semi{background-position:0 -10176px;}
div#cc-app .f48 .td.semi{background-position:0 -10224px;}
div#cc-app .f48 .tg.semi{background-position:0 -10272px;}
div#cc-app .f48 .th.semi{background-position:0 -10320px;}
div#cc-app .f48 .tj.semi{background-position:0 -10368px;}
div#cc-app .f48 .tl.semi{background-position:0 -10416px;}
div#cc-app .f48 .tm.semi{background-position:0 -10464px;}
div#cc-app .f48 .tn.semi{background-position:0 -10512px;}
div#cc-app .f48 .to.semi{background-position:0 -10560px;}
div#cc-app .f48 .tr.semi{background-position:0 -10608px;}
div#cc-app .f48 .tt.semi{background-position:0 -10656px;}
div#cc-app .f48 .tv.semi{background-position:0 -10704px;}
div#cc-app .f48 .tw.semi{background-position:0 -10752px;}
div#cc-app .f48 .tz.semi{background-position:0 -10800px;}
div#cc-app .f48 .ua.semi{background-position:0 -10848px;}
div#cc-app .f48 .ug.semi{background-position:0 -10896px;}
div#cc-app .f48 .us.semi{background-position:0 -10944px;}
div#cc-app .f48 .uy.semi{background-position:0 -10992px;}
div#cc-app .f48 .uz.semi{background-position:0 -11040px;}
div#cc-app .f48 .va.semi{background-position:0 -11088px;}
div#cc-app .f48 .vc.semi{background-position:0 -11136px;}
div#cc-app .f48 .ve.semi{background-position:0 -11184px;}
div#cc-app .f48 .vg.semi{background-position:0 -11232px;}
div#cc-app .f48 .vi.semi{background-position:0 -11280px;}
div#cc-app .f48 .vn.semi{background-position:0 -11328px;}
div#cc-app .f48 .vu.semi{background-position:0 -11376px;}
div#cc-app .f48 .ws.semi{background-position:0 -11424px;}
div#cc-app .f48 .ye.semi{background-position:0 -11472px;}
div#cc-app .f48 .za.semi{background-position:0 -11520px;}
div#cc-app .f48 .zm.semi{background-position:0 -11568px;}
div#cc-app .f48 .zw.semi{background-position:0 -11616px;}

