div#cc-app .f16 .flag.semi {
	background:url('../../images/flags/flags16_semi.png') no-repeat;
}
div#cc-app .f16 ._African_Union.semi{background-position:0 -0px;}
div#cc-app .f16 ._Arab_League.semi{background-position:0 -16px;}
div#cc-app .f16 ._ASEAN.semi{background-position:0 -32px;}
div#cc-app .f16 ._CARICOM.semi{background-position:0 -48px;}
div#cc-app .f16 ._CIS.semi{background-position:0 -64px;}
div#cc-app .f16 ._Commonwealth.semi{background-position:0 -80px;}
div#cc-app .f16 ._England.semi{background-position:0 -96px;}
div#cc-app .f16 ._European_Union.semi{background-position:0 -112px;}
div#cc-app .f16 ._Islamic_Conference.semi{background-position:0 -128px;}
div#cc-app .f16 ._Kosovo.semi{background-position:0 -144px;}
div#cc-app .f16 ._NATO.semi{background-position:0 -160px;}
div#cc-app .f16 ._Northern_Cyprus.semi{background-position:0 -176px;}
div#cc-app .f16 ._Northern_Ireland.semi{background-position:0 -192px;}
div#cc-app .f16 ._Olympic_Movement.semi{background-position:0 -208px;}
div#cc-app .f16 ._OPEC.semi{background-position:0 -224px;}
div#cc-app .f16 ._Red_Cross.semi{background-position:0 -240px;}
div#cc-app .f16 ._Scotland.semi{background-position:0 -256px;}
div#cc-app .f16 ._Somaliland.semi{background-position:0 -272px;}
div#cc-app .f16 ._Tibet.semi{background-position:0 -288px;}
div#cc-app .f16 ._United_Nations.semi{background-position:0 -304px;}
div#cc-app .f16 ._Wales.semi{background-position:0 -320px;}
div#cc-app .f16 .ad.semi{background-position:0 -336px;}
div#cc-app .f16 .ae.semi{background-position:0 -352px;}
div#cc-app .f16 .af.semi{background-position:0 -368px;}
div#cc-app .f16 .ag.semi{background-position:0 -384px;}
div#cc-app .f16 .ai.semi{background-position:0 -400px;}
div#cc-app .f16 .al.semi{background-position:0 -416px;}
div#cc-app .f16 .am.semi{background-position:0 -432px;}
div#cc-app .f16 .an.semi{background-position:0 -448px;}
div#cc-app .f16 .ao.semi{background-position:0 -464px;}
div#cc-app .f16 .aq.semi{background-position:0 -480px;}
div#cc-app .f16 .ar.semi{background-position:0 -496px;}
div#cc-app .f16 .as.semi{background-position:0 -512px;}
div#cc-app .f16 .at.semi{background-position:0 -528px;}
div#cc-app .f16 .au.semi{background-position:0 -544px;}
div#cc-app .f16 .aw.semi{background-position:0 -560px;}
div#cc-app .f16 .az.semi{background-position:0 -576px;}
div#cc-app .f16 .ba.semi{background-position:0 -592px;}
div#cc-app .f16 .bb.semi{background-position:0 -608px;}
div#cc-app .f16 .bd.semi{background-position:0 -624px;}
div#cc-app .f16 .be.semi{background-position:0 -640px;}
div#cc-app .f16 .bf.semi{background-position:0 -656px;}
div#cc-app .f16 .bg.semi{background-position:0 -672px;}
div#cc-app .f16 .bh.semi{background-position:0 -688px;}
div#cc-app .f16 .bi.semi{background-position:0 -704px;}
div#cc-app .f16 .bj.semi{background-position:0 -720px;}
div#cc-app .f16 .bm.semi{background-position:0 -736px;}
div#cc-app .f16 .bn.semi{background-position:0 -752px;}
div#cc-app .f16 .bo.semi{background-position:0 -768px;}
div#cc-app .f16 .br.semi{background-position:0 -784px;}
div#cc-app .f16 .bs.semi{background-position:0 -800px;}
div#cc-app .f16 .bt.semi{background-position:0 -816px;}
div#cc-app .f16 .bw.semi{background-position:0 -832px;}
div#cc-app .f16 .by.semi{background-position:0 -848px;}
div#cc-app .f16 .bz.semi{background-position:0 -864px;}
div#cc-app .f16 .ca.semi{background-position:0 -880px;}
div#cc-app .f16 .cg.semi{background-position:0 -896px;}
div#cc-app .f16 .cf.semi{background-position:0 -912px;}
div#cc-app .f16 .cd.semi{background-position:0 -928px;}
div#cc-app .f16 .ch.semi{background-position:0 -944px;}
div#cc-app .f16 .ci.semi{background-position:0 -960px;}
div#cc-app .f16 .ck.semi{background-position:0 -976px;}
div#cc-app .f16 .cl.semi{background-position:0 -992px;}
div#cc-app .f16 .cm.semi{background-position:0 -1008px;}
div#cc-app .f16 .cn.semi{background-position:0 -1024px;}
div#cc-app .f16 .co.semi{background-position:0 -1040px;}
div#cc-app .f16 .cr.semi{background-position:0 -1056px;}
div#cc-app .f16 .cu.semi{background-position:0 -1072px;}
div#cc-app .f16 .cv.semi{background-position:0 -1088px;}
div#cc-app .f16 .cy.semi{background-position:0 -1104px;}
div#cc-app .f16 .cz.semi{background-position:0 -1120px;}
div#cc-app .f16 .de.semi{background-position:0 -1136px;}
div#cc-app .f16 .dj.semi{background-position:0 -1152px;}
div#cc-app .f16 .dk.semi{background-position:0 -1168px;}
div#cc-app .f16 .dm.semi{background-position:0 -1184px;}
div#cc-app .f16 .do.semi{background-position:0 -1200px;}
div#cc-app .f16 .dz.semi{background-position:0 -1216px;}
div#cc-app .f16 .ec.semi{background-position:0 -1232px;}
div#cc-app .f16 .ee.semi{background-position:0 -1248px;}
div#cc-app .f16 .eg.semi{background-position:0 -1264px;}
div#cc-app .f16 .eh.semi{background-position:0 -1280px;}
div#cc-app .f16 .er.semi{background-position:0 -1296px;}
div#cc-app .f16 .es.semi{background-position:0 -1312px;}
div#cc-app .f16 .et.semi{background-position:0 -1328px;}
div#cc-app .f16 .fi.semi{background-position:0 -1344px;}
div#cc-app .f16 .fj.semi{background-position:0 -1360px;}
div#cc-app .f16 .fm.semi{background-position:0 -1376px;}
div#cc-app .f16 .fo.semi{background-position:0 -1392px;}
div#cc-app .f16 .fr.semi{background-position:0 -1408px;}
div#cc-app .f16 .ga.semi{background-position:0 -1424px;}
div#cc-app .f16 .gb.semi{background-position:0 -1440px;}
div#cc-app .f16 .gd.semi{background-position:0 -1456px;}
div#cc-app .f16 .ge.semi{background-position:0 -1472px;}
div#cc-app .f16 .gg.semi{background-position:0 -1488px;}
div#cc-app .f16 .gh.semi{background-position:0 -1504px;}
div#cc-app .f16 .gi.semi{background-position:0 -1520px;}
div#cc-app .f16 .gl.semi{background-position:0 -1536px;}
div#cc-app .f16 .gm.semi{background-position:0 -1552px;}
div#cc-app .f16 .gn.semi{background-position:0 -1568px;}
div#cc-app .f16 .gp.semi{background-position:0 -1584px;}
div#cc-app .f16 .gq.semi{background-position:0 -1600px;}
div#cc-app .f16 .gr.semi{background-position:0 -1616px;}
div#cc-app .f16 .gt.semi{background-position:0 -1632px;}
div#cc-app .f16 .gu.semi{background-position:0 -1648px;}
div#cc-app .f16 .gw.semi{background-position:0 -1664px;}
div#cc-app .f16 .gy.semi{background-position:0 -1680px;}
div#cc-app .f16 .hk.semi{background-position:0 -1696px;}
div#cc-app .f16 .hn.semi{background-position:0 -1712px;}
div#cc-app .f16 .hr.semi{background-position:0 -1728px;}
div#cc-app .f16 .ht.semi{background-position:0 -1744px;}
div#cc-app .f16 .hu.semi{background-position:0 -1760px;}
div#cc-app .f16 .id.semi{background-position:0 -1776px;}
div#cc-app .f16 .mc.semi{background-position:0 -1776px;}
div#cc-app .f16 .ie.semi{background-position:0 -1792px;}
div#cc-app .f16 .il.semi{background-position:0 -1808px;}
div#cc-app .f16 .im.semi{background-position:0 -1824px;}
div#cc-app .f16 .in.semi{background-position:0 -1840px;}
div#cc-app .f16 .iq.semi{background-position:0 -1856px;}
div#cc-app .f16 .ir.semi{background-position:0 -1872px;}
div#cc-app .f16 .is.semi{background-position:0 -1888px;}
div#cc-app .f16 .it.semi{background-position:0 -1904px;}
div#cc-app .f16 .je.semi{background-position:0 -1920px;}
div#cc-app .f16 .jm.semi{background-position:0 -1936px;}
div#cc-app .f16 .jo.semi{background-position:0 -1952px;}
div#cc-app .f16 .jp.semi{background-position:0 -1968px;}
div#cc-app .f16 .ke.semi{background-position:0 -1984px;}
div#cc-app .f16 .kg.semi{background-position:0 -2000px;}
div#cc-app .f16 .kh.semi{background-position:0 -2016px;}
div#cc-app .f16 .ki.semi{background-position:0 -2032px;}
div#cc-app .f16 .km.semi{background-position:0 -2048px;}
div#cc-app .f16 .kn.semi{background-position:0 -2064px;}
div#cc-app .f16 .kp.semi{background-position:0 -2080px;}
div#cc-app .f16 .kr.semi{background-position:0 -2096px;}
div#cc-app .f16 .kw.semi{background-position:0 -2112px;}
div#cc-app .f16 .ky.semi{background-position:0 -2128px;}
div#cc-app .f16 .kz.semi{background-position:0 -2144px;}
div#cc-app .f16 .la.semi{background-position:0 -2160px;}
div#cc-app .f16 .lb.semi{background-position:0 -2176px;}
div#cc-app .f16 .lc.semi{background-position:0 -2192px;}
div#cc-app .f16 .li.semi{background-position:0 -2208px;}
div#cc-app .f16 .lk.semi{background-position:0 -2224px;}
div#cc-app .f16 .lr.semi{background-position:0 -2240px;}
div#cc-app .f16 .ls.semi{background-position:0 -2256px;}
div#cc-app .f16 .lt.semi{background-position:0 -2272px;}
div#cc-app .f16 .lu.semi{background-position:0 -2288px;}
div#cc-app .f16 .lv.semi{background-position:0 -2304px;}
div#cc-app .f16 .ly.semi{background-position:0 -2320px;}
div#cc-app .f16 .ma.semi{background-position:0 -2336px;}
div#cc-app .f16 .md.semi{background-position:0 -2352px;}
div#cc-app .f16 .me.semi{background-position:0 -2368px;}
div#cc-app .f16 .mg.semi{background-position:0 -2384px;}
div#cc-app .f16 .mh.semi{background-position:0 -2400px;}
div#cc-app .f16 .mk.semi{background-position:0 -2416px;}
div#cc-app .f16 .ml.semi{background-position:0 -2432px;}
div#cc-app .f16 .mm.semi{background-position:0 -2448px;}
div#cc-app .f16 .mn.semi{background-position:0 -2464px;}
div#cc-app .f16 .mo.semi{background-position:0 -2480px;}
div#cc-app .f16 .mq.semi{background-position:0 -2496px;}
div#cc-app .f16 .mr.semi{background-position:0 -2512px;}
div#cc-app .f16 .ms.semi{background-position:0 -2528px;}
div#cc-app .f16 .mt.semi{background-position:0 -2544px;}
div#cc-app .f16 .mu.semi{background-position:0 -2560px;}
div#cc-app .f16 .mv.semi{background-position:0 -2576px;}
div#cc-app .f16 .mw.semi{background-position:0 -2592px;}
div#cc-app .f16 .mx.semi{background-position:0 -2608px;}
div#cc-app .f16 .my.semi{background-position:0 -2624px;}
div#cc-app .f16 .mz.semi{background-position:0 -2640px;}
div#cc-app .f16 .na.semi{background-position:0 -2656px;}
div#cc-app .f16 .nc.semi{background-position:0 -2672px;}
div#cc-app .f16 .ne.semi{background-position:0 -2688px;}
div#cc-app .f16 .ng.semi{background-position:0 -2704px;}
div#cc-app .f16 .ni.semi{background-position:0 -2720px;}
div#cc-app .f16 .nl.semi{background-position:0 -2736px;}
div#cc-app .f16 .no.semi{background-position:0 -2752px;}
div#cc-app .f16 .np.semi{background-position:0 -2768px;}
div#cc-app .f16 .nr.semi{background-position:0 -2784px;}
div#cc-app .f16 .nz.semi{background-position:0 -2800px;}
div#cc-app .f16 .om.semi{background-position:0 -2816px;}
div#cc-app .f16 .pa.semi{background-position:0 -2832px;}
div#cc-app .f16 .pe.semi{background-position:0 -2848px;}
div#cc-app .f16 .pf.semi{background-position:0 -2864px;}
div#cc-app .f16 .pg.semi{background-position:0 -2880px;}
div#cc-app .f16 .ph.semi{background-position:0 -2896px;}
div#cc-app .f16 .pk.semi{background-position:0 -2912px;}
div#cc-app .f16 .pl.semi{background-position:0 -2928px;}
div#cc-app .f16 .pr.semi{background-position:0 -2944px;}
div#cc-app .f16 .ps.semi{background-position:0 -2960px;}
div#cc-app .f16 .pt.semi{background-position:0 -2976px;}
div#cc-app .f16 .pw.semi{background-position:0 -2992px;}
div#cc-app .f16 .py.semi{background-position:0 -3008px;}
div#cc-app .f16 .qa.semi{background-position:0 -3024px;}
div#cc-app .f16 .re.semi{background-position:0 -3040px;}
div#cc-app .f16 .ro.semi{background-position:0 -3056px;}
div#cc-app .f16 .rs.semi{background-position:0 -3072px;}
div#cc-app .f16 .ru.semi{background-position:0 -3088px;}
div#cc-app .f16 .rw.semi{background-position:0 -3104px;}
div#cc-app .f16 .sa.semi{background-position:0 -3120px;}
div#cc-app .f16 .sb.semi{background-position:0 -3136px;}
div#cc-app .f16 .sc.semi{background-position:0 -3152px;}
div#cc-app .f16 .sd.semi{background-position:0 -3168px;}
div#cc-app .f16 .se.semi{background-position:0 -3184px;}
div#cc-app .f16 .sg.semi{background-position:0 -3200px;}
div#cc-app .f16 .si.semi{background-position:0 -3216px;}
div#cc-app .f16 .sk.semi{background-position:0 -3232px;}
div#cc-app .f16 .sl.semi{background-position:0 -3248px;}
div#cc-app .f16 .sm.semi{background-position:0 -3264px;}
div#cc-app .f16 .sn.semi{background-position:0 -3280px;}
div#cc-app .f16 .so.semi{background-position:0 -3296px;}
div#cc-app .f16 .sr.semi{background-position:0 -3312px;}
div#cc-app .f16 .st.semi{background-position:0 -3328px;}
div#cc-app .f16 .sv.semi{background-position:0 -3344px;}
div#cc-app .f16 .sy.semi{background-position:0 -3360px;}
div#cc-app .f16 .sz.semi{background-position:0 -3376px;}
div#cc-app .f16 .tc.semi{background-position:0 -3392px;}
div#cc-app .f16 .td.semi{background-position:0 -3408px;}
div#cc-app .f16 .tg.semi{background-position:0 -3424px;}
div#cc-app .f16 .th.semi{background-position:0 -3440px;}
div#cc-app .f16 .tj.semi{background-position:0 -3456px;}
div#cc-app .f16 .tl.semi{background-position:0 -3472px;}
div#cc-app .f16 .tm.semi{background-position:0 -3488px;}
div#cc-app .f16 .tn.semi{background-position:0 -3504px;}
div#cc-app .f16 .to.semi{background-position:0 -3520px;}
div#cc-app .f16 .tr.semi{background-position:0 -3536px;}
div#cc-app .f16 .tt.semi{background-position:0 -3552px;}
div#cc-app .f16 .tv.semi{background-position:0 -3568px;}
div#cc-app .f16 .tw.semi{background-position:0 -3584px;}
div#cc-app .f16 .tz.semi{background-position:0 -3600px;}
div#cc-app .f16 .ua.semi{background-position:0 -3616px;}
div#cc-app .f16 .ug.semi{background-position:0 -3632px;}
div#cc-app .f16 .us.semi{background-position:0 -3648px;}
div#cc-app .f16 .uy.semi{background-position:0 -3664px;}
div#cc-app .f16 .uz.semi{background-position:0 -3680px;}
div#cc-app .f16 .va.semi{background-position:0 -3696px;}
div#cc-app .f16 .vc.semi{background-position:0 -3712px;}
div#cc-app .f16 .ve.semi{background-position:0 -3728px;}
div#cc-app .f16 .vg.semi{background-position:0 -3744px;}
div#cc-app .f16 .vi.semi{background-position:0 -3760px;}
div#cc-app .f16 .vn.semi{background-position:0 -3776px;}
div#cc-app .f16 .vu.semi{background-position:0 -3792px;}
div#cc-app .f16 .ws.semi{background-position:0 -3808px;}
div#cc-app .f16 .ye.semi{background-position:0 -3824px;}
div#cc-app .f16 .za.semi{background-position:0 -3840px;}
div#cc-app .f16 .zm.semi{background-position:0 -3856px;}
div#cc-app .f16 .zw.semi{background-position:0 -3872px;}
