div#cc-app .f24 .flag.semi {
	background:url('../../images/flags/flags24_semi.png') no-repeat;
}
div#cc-app .f24 ._Afriican_Union.semi{background-position:0 -0px;}
div#cc-app .f24 ._Arabb_League.semi{background-position:0 -24px;}
div#cc-app .f24 ._ASEAAN.semi{background-position:0 -48px;}
div#cc-app .f24 ._CARIICOM.semi{background-position:0 -72px;}
div#cc-app .f24 ._CIS.semi{background-position:0 -96px;}
div#cc-app .f24 ._Commmonwealth.semi{background-position:0 -120px;}
div#cc-app .f24 ._Englland.semi{background-position:0 -144px;}
div#cc-app .f24 ._Euroopean_Union.semi{background-position:0 -168px;}
div#cc-app .f24 ._Islaamic_Conference.semi{background-position:0 -192px;}
div#cc-app .f24 ._Kosoovo.semi{background-position:0 -216px;}
div#cc-app .f24 ._NATOO.semi{background-position:0 -240px;}
div#cc-app .f24 ._Nortthern_Cyprus.semi{background-position:0 -264px;}
div#cc-app .f24 ._Nortthern_Ireland.semi{background-position:0 -288px;}
div#cc-app .f24 ._Olymmpic_Movement.semi{background-position:0 -312px;}
div#cc-app .f24 ._OPECC.semi{background-position:0 -336px;}
div#cc-app .f24 ._Red__Cross.semi{background-position:0 -360px;}
div#cc-app .f24 ._Scottland.semi{background-position:0 -384px;}
div#cc-app .f24 ._Somaaliland.semi{background-position:0 -408px;}
div#cc-app .f24 ._Tibeet.semi{background-position:0 -432px;}
div#cc-app .f24 ._Unitted_Nations.semi{background-position:0 -456px;}
div#cc-app .f24 ._Walees.semi{background-position:0 -480px;}
div#cc-app .f24 .ad.semi{background-position:0 -504px;}
div#cc-app .f24 .ae.semi{background-position:0 -528px;}
div#cc-app .f24 .af.semi{background-position:0 -552px;}
div#cc-app .f24 .ag.semi{background-position:0 -576px;}
div#cc-app .f24 .ai.semi{background-position:0 -600px;}
div#cc-app .f24 .al.semi{background-position:0 -624px;}
div#cc-app .f24 .am.semi{background-position:0 -648px;}
div#cc-app .f24 .an.semi{background-position:0 -672px;}
div#cc-app .f24 .ao.semi{background-position:0 -696px;}
div#cc-app .f24 .aq.semi{background-position:0 -720px;}
div#cc-app .f24 .ar.semi{background-position:0 -744px;}
div#cc-app .f24 .as.semi{background-position:0 -768px;}
div#cc-app .f24 .at.semi{background-position:0 -792px;}
div#cc-app .f24 .au.semi{background-position:0 -816px;}
div#cc-app .f24 .aw.semi{background-position:0 -840px;}
div#cc-app .f24 .az.semi{background-position:0 -864px;}
div#cc-app .f24 .ba.semi{background-position:0 -888px;}
div#cc-app .f24 .bb.semi{background-position:0 -912px;}
div#cc-app .f24 .bd.semi{background-position:0 -936px;}
div#cc-app .f24 .be.semi{background-position:0 -960px;}
div#cc-app .f24 .bf.semi{background-position:0 -984px;}
div#cc-app .f24 .bg.semi{background-position:0 -1008px;}
div#cc-app .f24 .bh.semi{background-position:0 -1032px;}
div#cc-app .f24 .bi.semi{background-position:0 -1056px;}
div#cc-app .f24 .bj.semi{background-position:0 -1080px;}
div#cc-app .f24 .bm.semi{background-position:0 -1104px;}
div#cc-app .f24 .bn.semi{background-position:0 -1128px;}
div#cc-app .f24 .bo.semi{background-position:0 -1152px;}
div#cc-app .f24 .br.semi{background-position:0 -1176px;}
div#cc-app .f24 .bs.semi{background-position:0 -1200px;}
div#cc-app .f24 .bt.semi{background-position:0 -1224px;}
div#cc-app .f24 .bw.semi{background-position:0 -1248px;}
div#cc-app .f24 .by.semi{background-position:0 -1272px;}
div#cc-app .f24 .bz.semi{background-position:0 -1296px;}
div#cc-app .f24 .ca.semi{background-position:0 -1320px;}
div#cc-app .f24 .cd.semi{background-position:0 -1344px;}
div#cc-app .f24 .cf.semi{background-position:0 -1368px;}
div#cc-app .f24 .cg.semi{background-position:0 -1392px;}
div#cc-app .f24 .ch.semi{background-position:0 -1416px;}
div#cc-app .f24 .ci.semi{background-position:0 -1440px;}
div#cc-app .f24 .ck.semi{background-position:0 -1464px;}
div#cc-app .f24 .cl.semi{background-position:0 -1488px;}
div#cc-app .f24 .cm.semi{background-position:0 -1512px;}
div#cc-app .f24 .cn.semi{background-position:0 -1536px;}
div#cc-app .f24 .co.semi{background-position:0 -1560px;}
div#cc-app .f24 .cr.semi{background-position:0 -1584px;}
div#cc-app .f24 .cu.semi{background-position:0 -1608px;}
div#cc-app .f24 .cv.semi{background-position:0 -1632px;}
div#cc-app .f24 .cy.semi{background-position:0 -1656px;}
div#cc-app .f24 .cz.semi{background-position:0 -1680px;}
div#cc-app .f24 .de.semi{background-position:0 -1704px;}
div#cc-app .f24 .dj.semi{background-position:0 -1728px;}
div#cc-app .f24 .dk.semi{background-position:0 -1752px;}
div#cc-app .f24 .dm.semi{background-position:0 -1776px;}
div#cc-app .f24 .do.semi{background-position:0 -1800px;}
div#cc-app .f24 .dz.semi{background-position:0 -1824px;}
div#cc-app .f24 .ec.semi{background-position:0 -1848px;}
div#cc-app .f24 .ee.semi{background-position:0 -1872px;}
div#cc-app .f24 .eg.semi{background-position:0 -1896px;}
div#cc-app .f24 .eh.semi{background-position:0 -1920px;}
div#cc-app .f24 .er.semi{background-position:0 -1944px;}
div#cc-app .f24 .es.semi{background-position:0 -1968px;}
div#cc-app .f24 .et.semi{background-position:0 -1992px;}
div#cc-app .f24 .fi.semi{background-position:0 -2016px;}
div#cc-app .f24 .fj.semi{background-position:0 -2040px;}
div#cc-app .f24 .fm.semi{background-position:0 -2064px;}
div#cc-app .f24 .fo.semi{background-position:0 -2088px;}
div#cc-app .f24 .fr.semi{background-position:0 -2112px;}
div#cc-app .f24 .ga.semi{background-position:0 -2136px;}
div#cc-app .f24 .gb.semi{background-position:0 -2160px;}
div#cc-app .f24 .gd.semi{background-position:0 -2184px;}
div#cc-app .f24 .ge.semi{background-position:0 -2208px;}
div#cc-app .f24 .gg.semi{background-position:0 -2232px;}
div#cc-app .f24 .gh.semi{background-position:0 -2256px;}
div#cc-app .f24 .gi.semi{background-position:0 -2280px;}
div#cc-app .f24 .gl.semi{background-position:0 -2304px;}
div#cc-app .f24 .gm.semi{background-position:0 -2328px;}
div#cc-app .f24 .gn.semi{background-position:0 -2352px;}
div#cc-app .f24 .gp.semi{background-position:0 -2376px;}
div#cc-app .f24 .gq.semi{background-position:0 -2400px;}
div#cc-app .f24 .gr.semi{background-position:0 -2424px;}
div#cc-app .f24 .gt.semi{background-position:0 -2448px;}
div#cc-app .f24 .gu.semi{background-position:0 -2472px;}
div#cc-app .f24 .gw.semi{background-position:0 -2496px;}
div#cc-app .f24 .gy.semi{background-position:0 -2520px;}
div#cc-app .f24 .hk.semi{background-position:0 -2544px;}
div#cc-app .f24 .hn.semi{background-position:0 -2568px;}
div#cc-app .f24 .hr.semi{background-position:0 -2592px;}
div#cc-app .f24 .ht.semi{background-position:0 -2616px;}
div#cc-app .f24 .hu.semi{background-position:0 -2640px;}
div#cc-app .f24 .id.semi{background-position:0 -2664px;}
div#cc-app .f24 .mc.semi{background-position:0 -2664px;}
div#cc-app .f24 .ie.semi{background-position:0 -2688px;}
div#cc-app .f24 .il.semi{background-position:0 -2712px;}
div#cc-app .f24 .im.semi{background-position:0 -2736px;}
div#cc-app .f24 .in.semi{background-position:0 -2760px;}
div#cc-app .f24 .iq.semi{background-position:0 -2784px;}
div#cc-app .f24 .ir.semi{background-position:0 -2808px;}
div#cc-app .f24 .is.semi{background-position:0 -2832px;}
div#cc-app .f24 .it.semi{background-position:0 -2856px;}
div#cc-app .f24 .je.semi{background-position:0 -2880px;}
div#cc-app .f24 .jm.semi{background-position:0 -2904px;}
div#cc-app .f24 .jo.semi{background-position:0 -2928px;}
div#cc-app .f24 .jp.semi{background-position:0 -2952px;}
div#cc-app .f24 .ke.semi{background-position:0 -2976px;}
div#cc-app .f24 .kg.semi{background-position:0 -3000px;}
div#cc-app .f24 .kh.semi{background-position:0 -3024px;}
div#cc-app .f24 .ki.semi{background-position:0 -3048px;}
div#cc-app .f24 .km.semi{background-position:0 -3072px;}
div#cc-app .f24 .kn.semi{background-position:0 -3096px;}
div#cc-app .f24 .kp.semi{background-position:0 -3120px;}
div#cc-app .f24 .kr.semi{background-position:0 -3144px;}
div#cc-app .f24 .kw.semi{background-position:0 -3168px;}
div#cc-app .f24 .ky.semi{background-position:0 -3192px;}
div#cc-app .f24 .kz.semi{background-position:0 -3216px;}
div#cc-app .f24 .la.semi{background-position:0 -3240px;}
div#cc-app .f24 .lb.semi{background-position:0 -3264px;}
div#cc-app .f24 .lc.semi{background-position:0 -3288px;}
div#cc-app .f24 .li.semi{background-position:0 -3312px;}
div#cc-app .f24 .lk.semi{background-position:0 -3336px;}
div#cc-app .f24 .lr.semi{background-position:0 -3360px;}
div#cc-app .f24 .ls.semi{background-position:0 -3384px;}
div#cc-app .f24 .lt.semi{background-position:0 -3408px;}
div#cc-app .f24 .lu.semi{background-position:0 -3432px;}
div#cc-app .f24 .lv.semi{background-position:0 -3456px;}
div#cc-app .f24 .ly.semi{background-position:0 -3480px;}
div#cc-app .f24 .ma.semi{background-position:0 -3504px;}
div#cc-app .f24 .md.semi{background-position:0 -3528px;}
div#cc-app .f24 .me.semi{background-position:0 -3552px;}
div#cc-app .f24 .mg.semi{background-position:0 -3576px;}
div#cc-app .f24 .mh.semi{background-position:0 -3600px;}
div#cc-app .f24 .mk.semi{background-position:0 -3624px;}
div#cc-app .f24 .ml.semi{background-position:0 -3648px;}
div#cc-app .f24 .mm.semi{background-position:0 -3672px;}
div#cc-app .f24 .mn.semi{background-position:0 -3696px;}
div#cc-app .f24 .mo.semi{background-position:0 -3720px;}
div#cc-app .f24 .mq.semi{background-position:0 -3744px;}
div#cc-app .f24 .mr.semi{background-position:0 -3768px;}
div#cc-app .f24 .ms.semi{background-position:0 -3792px;}
div#cc-app .f24 .mt.semi{background-position:0 -3816px;}
div#cc-app .f24 .mu.semi{background-position:0 -3840px;}
div#cc-app .f24 .mv.semi{background-position:0 -3864px;}
div#cc-app .f24 .mw.semi{background-position:0 -3888px;}
div#cc-app .f24 .mx.semi{background-position:0 -3912px;}
div#cc-app .f24 .my.semi{background-position:0 -3936px;}
div#cc-app .f24 .mz.semi{background-position:0 -3960px;}
div#cc-app .f24 .na.semi{background-position:0 -3984px;}
div#cc-app .f24 .nc.semi{background-position:0 -4008px;}
div#cc-app .f24 .ne.semi{background-position:0 -4032px;}
div#cc-app .f24 .ng.semi{background-position:0 -4056px;}
div#cc-app .f24 .ni.semi{background-position:0 -4080px;}
div#cc-app .f24 .nl.semi{background-position:0 -4104px;}
div#cc-app .f24 .no.semi{background-position:0 -4128px;}
div#cc-app .f24 .np.semi{background-position:0 -4152px;}
div#cc-app .f24 .nr.semi{background-position:0 -4176px;}
div#cc-app .f24 .nz.semi{background-position:0 -4200px;}
div#cc-app .f24 .om.semi{background-position:0 -4224px;}
div#cc-app .f24 .pa.semi{background-position:0 -4248px;}
div#cc-app .f24 .pe.semi{background-position:0 -4272px;}
div#cc-app .f24 .pf.semi{background-position:0 -4296px;}
div#cc-app .f24 .pg.semi{background-position:0 -4320px;}
div#cc-app .f24 .ph.semi{background-position:0 -4344px;}
div#cc-app .f24 .pk.semi{background-position:0 -4368px;}
div#cc-app .f24 .pl.semi{background-position:0 -4392px;}
div#cc-app .f24 .pr.semi{background-position:0 -4416px;}
div#cc-app .f24 .ps.semi{background-position:0 -4440px;}
div#cc-app .f24 .pt.semi{background-position:0 -4464px;}
div#cc-app .f24 .pw.semi{background-position:0 -4488px;}
div#cc-app .f24 .py.semi{background-position:0 -4512px;}
div#cc-app .f24 .qa.semi{background-position:0 -4536px;}
div#cc-app .f24 .re.semi{background-position:0 -4560px;}
div#cc-app .f24 .ro.semi{background-position:0 -4584px;}
div#cc-app .f24 .rs.semi{background-position:0 -4608px;}
div#cc-app .f24 .ru.semi{background-position:0 -4632px;}
div#cc-app .f24 .rw.semi{background-position:0 -4656px;}
div#cc-app .f24 .sa.semi{background-position:0 -4680px;}
div#cc-app .f24 .sb.semi{background-position:0 -4704px;}
div#cc-app .f24 .sc.semi{background-position:0 -4728px;}
div#cc-app .f24 .sd.semi{background-position:0 -4752px;}
div#cc-app .f24 .se.semi{background-position:0 -4776px;}
div#cc-app .f24 .sg.semi{background-position:0 -4800px;}
div#cc-app .f24 .si.semi{background-position:0 -4824px;}
div#cc-app .f24 .sk.semi{background-position:0 -4848px;}
div#cc-app .f24 .sl.semi{background-position:0 -4872px;}
div#cc-app .f24 .sm.semi{background-position:0 -4896px;}
div#cc-app .f24 .sn.semi{background-position:0 -4920px;}
div#cc-app .f24 .so.semi{background-position:0 -4944px;}
div#cc-app .f24 .sr.semi{background-position:0 -4968px;}
div#cc-app .f24 .st.semi{background-position:0 -4992px;}
div#cc-app .f24 .sv.semi{background-position:0 -5016px;}
div#cc-app .f24 .sy.semi{background-position:0 -5040px;}
div#cc-app .f24 .sz.semi{background-position:0 -5064px;}
div#cc-app .f24 .tc.semi{background-position:0 -5088px;}
div#cc-app .f24 .td.semi{background-position:0 -5112px;}
div#cc-app .f24 .tg.semi{background-position:0 -5136px;}
div#cc-app .f24 .th.semi{background-position:0 -5160px;}
div#cc-app .f24 .tj.semi{background-position:0 -5184px;}
div#cc-app .f24 .tl.semi{background-position:0 -5208px;}
div#cc-app .f24 .tm.semi{background-position:0 -5232px;}
div#cc-app .f24 .tn.semi{background-position:0 -5256px;}
div#cc-app .f24 .to.semi{background-position:0 -5280px;}
div#cc-app .f24 .tr.semi{background-position:0 -5304px;}
div#cc-app .f24 .tt.semi{background-position:0 -5328px;}
div#cc-app .f24 .tv.semi{background-position:0 -5352px;}
div#cc-app .f24 .tw.semi{background-position:0 -5376px;}
div#cc-app .f24 .tz.semi{background-position:0 -5400px;}
div#cc-app .f24 .ua.semi{background-position:0 -5424px;}
div#cc-app .f24 .ug.semi{background-position:0 -5448px;}
div#cc-app .f24 .us.semi{background-position:0 -5472px;}
div#cc-app .f24 .uy.semi{background-position:0 -5496px;}
div#cc-app .f24 .uz.semi{background-position:0 -5520px;}
div#cc-app .f24 .va.semi{background-position:0 -5544px;}
div#cc-app .f24 .vc.semi{background-position:0 -5568px;}
div#cc-app .f24 .ve.semi{background-position:0 -5592px;}
div#cc-app .f24 .vg.semi{background-position:0 -5616px;}
div#cc-app .f24 .vi.semi{background-position:0 -5640px;}
div#cc-app .f24 .vn.semi{background-position:0 -5664px;}
div#cc-app .f24 .vu.semi{background-position:0 -5688px;}
div#cc-app .f24 .ws.semi{background-position:0 -5712px;}
div#cc-app .f24 .ye.semi{background-position:0 -5736px;}
div#cc-app .f24 .za.semi{background-position:0 -5760px;}
div#cc-app .f24 .zm.semi{background-position:0 -5784px;}
div#cc-app .f24 .zw.semi{background-position:0 -5808px;}
