<!--The 30 in the height is to take account for the bottom bar-->
<div class="cc-chat-box-outer" ng-show="room.active" ng-style="{right: room.offset, height: (room.height + 30), 'z-index' : getZIndex()}" draggable-room user-drop-location animate-room>

    <div class="cc-chat-box cc-shadow" ng-style="{height: room.height, width: room.width}" ng-hide="room.minimized" >
        <div class="cc-box-header cc-pointer" ng-style="{'background-color': config.headerColor}" cc-flash="room-header">
            <a class="uk-float-right cc-image-30" title="Hide Chat" ng-click="minimize()">
                <img ng-src="{{ ::img_30_minimize }}" />
            </a>
            <a class="uk-float-left cc-image-30 cc-resize-cursor" title="Resize room" resize-room>
                <img ng-src="{{ ::img_30_resize }}" />
            </a>
            <div class="cc-ellipsis uk-float-left cc-pointer" ng-style="{width: room.width - 60}">{{ room.name }}</div>
        </div>

        <div class="cc-tab-container cc-bottom-shadow">
            <div class="cc-tab cc-tab-small cc-tab-1-3"
                 ng-style="activeTab == 'messages' ? {'border-bottom-color': config.headerColor} : null"
                 ng-class="{selected: activeTab == 'messages'}"
                 ng-click="tabClicked('messages')">
                MESSAGES
            </div>
            <div class="cc-tab cc-tab-small cc-tab-1-3"
                 ng-style="activeTab == 'users' ? {'border-bottom-color': config.headerColor} : null"
                 ng-class="{selected: activeTab == 'users'}"
                 ng-click="tabClicked('users')">
                USERS
            </div>
            <div class="cc-tab cc-tab-small cc-tab-1-3"
                 ng-style="activeTab == 'settings' ? {'border-bottom-color': config.headerColor} : null"
                 ng-class="{selected: activeTab == 'settings'}"
                 ng-click="tabClicked('settings')">
                SETTINGS
            </div>
        </div>

        <div ng-show="activeTab == 'users' || activeTab == 'settings'" class="uk-overflow-container" ng-style="{'height': room.height - 30 - 30}" stop-shake>
            <ng-include ng-controller="UserListController" ng-show="activeTab == 'users'" src="baseURL + 'user-list.html'"></ng-include>
            <ng-include ng-show="activeTab == 'settings'" src="baseURL + 'chat-settings.html'"></ng-include>
        </div>

        <!--Take account of the top and bottom bars as well as the tab bar - the tab bar is height 18 + 4 border + 5 bottom margin-->
        <div ng-show="!showEmojis && activeTab == 'messages'" class="cc-chat-box-msgs" infinite-scroll="loadMoreMessages()" scroll-glue ng-style="{'height': room.height - 30 - 30 - inputHeight}" stop-shake disable-drag>
            <div ng-repeat="message in room.messages track by message.mid">
                <div>
                    <div class="cc-message-outer">
                        <img class="cc-thumbnail-30" ng-class="'cc-abs-' + message.side" ng-src="{{ message.user.thumbnail }}" />
                        <span ng-show="message.meta.type == messageTypeText" class="cc-bubble" ng-class="['cc-' + message.side + '-bubble','cc-' + message.side + '-text-bubble']" ng-style="{'max-width': room.width - 80}" on-edit-message>
                            <div class="cc-enable-select" ng-bind-html="::message.meta.text | linky: '_blank' | emoji | newline"></div>
                        </span>
                        <span ng-show="message.meta.type == messageTypeImage" class="cc-bubble cc-image-bubble" ng-class="'cc-' + message.side + '-bubble'" ng-style="{'max-width': room.width - 80}" on-edit-message>
                            <a href="{{ message.imageURL }}" target="_blank"><img ng-src="{{ ::message.thumbnailURL }}"></a></span>
                        </span>
                        <span class="cc-flag" ng-class="'cc-' + message.side + '-flag'" ng-show="message.side == 'left'">
                            <a class="cc-pointer" ng-click="room.toggleMessageFlag(message)">
                                <img ng-show="!message.flagged" ng-src="{{ ::img_20_flag }}"/>
                                <img ng-show="message.flagged" ng-src="{{ ::img_20_flagged }}"/>
                            </a>
                        </span>
                    </div>
                    <div class="cc-message-outer uk-text-small" ng-hide="message.hideName && message.hideTime">
                        <div class="cc-message-margin cc-ellipsis" ng-class="'uk-float-' + message.side">
                            <span class="cc-user-name" ng-hide="message.hideName" class="uk-text-bold">{{ ::message.user.meta.name }}</span>
                        </div>
                        <div class="uk-float-left uk-width-1-1 time" ng-hide="message.hideTime">
                            {{ ::message.timeString }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- This stops the messages being rendered right to the bottom
                 and being covered by the "User is typing ..." text-->
            <div style="height: 20px"></div>
        </div>

        <div class="cc-emoji uk-overflow-container"
             ng-show="showEmojis && activeTab == 'messages'"
             ng-style="{'height': room.height - 30 - 30 - inputHeight}"
             stop-shake
             disable-drag>
            <ng-include src="baseURL + 'emojis.html'"></ng-include>
        </div>

        <div class="cc-chat-box-msg" ng-show="activeTab == 'messages'" disable-drag>
            <div class="cc-typing-indicator">
                {{ room.typingMessage }}
            </div>
            <textarea class="cc-chat-box-msg-txt"
                      ng-model="input.text"
                      enter-submit="sendMessage()"
                      fit-text="84"
                      ng-style="{'width': room.width - 60}"
                      placeholder="Type message here..."
                      ng-blur="setTyping(false)"
                      ng-keyup="setTyping(true)" ></textarea>
            <button class="cc-emoji-button" ng-click="toggleEmoticons()">
                <img ng-src="{{ ::img_30_emojis }}">
            </button>
            <!--<button class="cc-image-button" ng-click="sendImageMessage()">-->
                <!--<img ng-src="{{ ::img_30_image }}">-->
            <!--</button>-->
            <div class="cc-image-button uk-container-center" ng-show="config.imageMessagesEnabled">
                <input class="cc-hidden-input"
                type="file"
                ng-file-select="sendImageMessage($files, room)"
                ng-click="startImageUpload()">
                <img ng-src="{{ ::img_30_image }}" ng-show="!uploadingImage">
                <img ng-src="{{ ::img_loader }}" width="25" height="25" ng-show="uploadingImage">
            </div>

        </div>

        <!--The overlay that appears if the user hasn't accepted the invitation-->
        <!--We disable drag here because otherwise when the user clicks they also start a drag-->
        <!--that results in the room data being modified that caues the room to be re-added-->
        <div class="cc-overlay cc-overlay-white" ng-hide="room.getUserStatus(user) != 'invited'" ></div>
        <div class="cc-overlay-content cc-overlay-white" ng-hide="room.getUserStatus(user) != 'invited'" disable-drag>
            <div class="uk-width-4-5 cc-center cc-ellipsis cc-title cc-user-name">{{ room.invitedBy.meta.name }}</div>
            <div class="uk-width-1-1 subtitle">Invited you to chat</div>
            <a ng-click="room.close()" ><img ng-src="{{ ::img_40_cross }}" /></a>
            <a ng-click="acceptInvitation()" ><img ng-src="{{ ::img_40_tick }}" /></a>
        </div>
    </div>

    <div ng-show="room.badge" class="cc-badge cc-shadow">
        {{ room.badge }}
    </div>

    <div class="cc-chat-bar" ng-click="toggleVisibility()" >
        <div class="cc-base-text">
            <div class="cc-inner">
                <div class="uk-float-left cc-ellipsis cc-name cc-pointer">{{ room.name }}</div>
                <a ng-click="room.close()">
                    <img class="uk-float-right cc-image-30" ng-src="{{ ::img_30_cross }}" disable-drag/>
                </a>
                <a ng-show="room.minimized">
                    <img class="uk-float-right cc-image-30" ng-src="{{ ::img_30_maximize }}" disable-drag/>
                </a>
                <div class="uk-float-right">{{ room.onlineUserCount }}</div>
            </div>
        </div>
    </div>
</div>




