<div ng-controller="ChatSettingsController">
    <div class="uk-vertical-align-middle uk-text-center uk-height-1-1 uk-width-1-1">
        <form class="uk-panel uk-form">
            <div class="uk-form-row cc-inner-margin">
                <button class="uk-button" ng-click="saveTranscript()">Save Conversation</button>
            </div>
            <div class="uk-form-row cc-inner-margin">
                <button class="uk-button" ng-click="copyTranscript()">Copy to clipboard</button>
            </div>
        </form>
    </div>
</div>