<div ng-controller="MainBoxController" id="cc-main-box" class="cc-box cc-root-box cc-shadow" ng-style="{'width': mainBoxWidth, 'height': mainBoxHeight}" >
    <div class="cc-box-header">
        {{ title }}
        <a class="uk-float-right cc-image-30" title="Hide Chat" ng-click="minimizeMainBox()">
            <img src="img/cc-30-minimize.png" />
        </a>
    </div>

    <div class="cc-tab-container cc-bottom-shadow" >
        <div class="cc-tab cc-tab-1-3" ng-class="{selected: activeTab == 'users'}" ng-click="tabClicked('users')">
            USERS
        </div>
        <div class="cc-tab cc-tab-1-3" ng-class="{selected: activeTab == 'rooms'}" ng-click="tabClicked('rooms')">
            ROOMS
        </div>
        <div class="cc-tab cc-tab-1-3" ng-class="{selected: activeTab == 'friends'}" ng-click="tabClicked('friends')">
            FRIENDS
        </div>
    </div>

    <!--Add the search box-->
    <div class="uk-overflow-container">
        <form class="uk-panel uk-form uk-float-left cc-padded" ng-style="{'width': (mainBoxWidth - (activeTab == 'rooms' && roomCreationEnabled ? 40 : 10))}">
            <input class="uk-width-1-1 uk-form-small" type="text" ng-model="search[activeTab]" placeholder="Search" />
        </form>
        <a class="uk-float-right" ng-show="activeTab == 'rooms' && roomCreationEnabled" ng-click="showCreateRoomBox()">
            <img class="cc-image-30" src="img/cc-30-plus.png" />
        </a>
    </div>

    <div class="uk-overflow-container" ng-style="{'height': mainBoxHeight - 135}">
        <!--Add the table of users / chat rooms-->
        <div ng-show="activeTab == 'users'" ng-include="'partials/user-list.html'"></div>

        <!--Add the list of public chat rooms-->
        <div ng-show="activeTab == 'rooms'" class="cc-hide-overflow-x" ng-controller="PublicRoomsListController" ng-include="'partials/room-list.html'"></div>

        <!--Add the table of users / chat rooms-->
        <div ng-show="activeTab == 'friends'" ng-controller="FriendsListController" ng-include="'partials/user-list.html'"></div>
    </div>

    <div id="cc-user-details">
        <span class="cc-padded">
        <img class="cc-thumbnail-20 cc-right-margin-5" ng-src="{{ getUser().imageURL20 }}" />
        {{ getUser().meta.name }}
        <a class="uk-float-right" title="Settings" ng-click="showProfileSettingsBox()"><img class="cc-image-30 cc-right-margin-5" src="img/cc-30-gear.png" /></a>
        </span>
    </div>
</div>
