<div ng-controller="MainBoxController" id="cc-main-box" class="cc-box cc-root-box cc-shadow" ng-style="{'width': mainBoxWidth, 'height': mainBoxHeight}" >
    <div class="cc-box-header" ng-style="{background: config.headerColor}">
        {{ title }}
        <a class="uk-float-right cc-image-30" title="Hide Chat" ng-click="minimizeMainBox()">
            <img ng-src="{{ ::img_30_minimize }}" />
        </a>
    </div>

    <div class="cc-tab-container cc-bottom-shadow" ng-show="tabCount > 1">
        <div class="cc-tab"
             ng-class="[activeTab == 'users' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             ng-style="activeTab == 'users' ? {'border-bottom-color': config.headerColor} : null"
             ng-click="tabClicked('users')"
             ng-show="usersTabEnabled">
            USERS
        </div>
        <div class="cc-tab"
             ng-class="[activeTab == 'rooms' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             ng-style="activeTab == 'rooms' ? {'border-bottom-color': config.headerColor} : null"
             ng-click="tabClicked('rooms')"
             ng-show="roomsTabEnabled">
            ROOMS
        </div>
        <div class="cc-tab"
             ng-class="[activeTab == 'inbox' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             ng-style="activeTab == 'inbox' ? {'border-bottom-color': config.headerColor} : null"
             ng-click="tabClicked('inbox')">
            INBOX <span ng-show="inboxCount > 0" class="cc-tab-indicator">{{ inboxCount }}</span>
        </div>
        <div class="cc-tab"
             ng-class="[activeTab == 'friends' ? 'selected': null, 'cc-tab-1-' + tabCount]"
             ng-style="activeTab == 'friends' ? {'border-bottom-color': config.headerColor} : null"
             ng-click="tabClicked('friends')"
             ng-show="friendsTabEnabled">
            FRIENDS
        </div>
    </div>

    <!--Add the search box-->
    <div class="uk-overflow-container" ng-hide="activeTab=='inbox'">
        <form class="uk-panel uk-form uk-float-left cc-padded cc-search-bar"
              ng-style="{'width': (mainBoxWidth - (activeTab == 'rooms' && config.usersCanCreatePublicRooms ? 40 : 10))}">

            <input class="uk-width-1-1 uk-form-small" type="text" ng-model="search[activeTab]" placeholder="Search" />
        </form>
        <a class="uk-float-right"
           ng-show="activeTab == 'rooms' && config.usersCanCreatePublicRooms"
           ng-click="showCreateRoomBox()">

            <img class="cc-image-30"  ng-src="{{ ::img_30_plus }}" />
        </a>
    </div>

    <div class="uk-overflow-container" ng-style="{'height': mainBoxHeight - 135}">
        <!--Add the table of users / chat rooms-->
        <ng-include ng-controller="OnlineUsersListController" ng-show="activeTab == 'users'" src=" baseURL + 'user-list.html'"></ng-include>

        <!--Add the list of public chat rooms-->
        <div ng-show="activeTab == 'rooms'" class="cc-hide-overflow-x" ng-controller="PublicRoomsListController" >
            <ng-include src=" baseURL + 'room-list.html'"></ng-include>
        </div>

        <!--Add the list of public chat rooms-->
        <div ng-show="activeTab == 'inbox'" class="cc-hide-overflow-x" ng-controller="InboxRoomsListController" >
            <ng-include src=" baseURL + 'room-list.html'"></ng-include>
        </div>

        <!--Add the table of users / chat rooms-->
        <ng-include ng-show="activeTab == 'friends'" ng-controller="UserListController" src=" baseURL + 'user-list.html'"></ng-include>
    </div>

    <div id="cc-user-details">
        <img class="cc-thumbnail-20 cc-margin-5 uk-float-left" ng-src="{{ user.thumbnail }}" />
        <div class="uk-float-left cc-user-name cc-ellipsis">
            {{ getUser().meta.name }}
        </div>
        <a class="uk-float-right cc-valign-image-fix"
           ng-hide="config.disableProfileBox"
           title="Settings"
           ng-click="showProfileSettingsBox()">
            <img class="cc-image-30 cc-right-margin-5" ng-src="{{ ::img_30_gear }}" />
        </a>
        <!--</span>-->
    </div>
</div>
