<div class="cc-notification-outer" ng-controller="NotificationController" ng-show="notification.show" >
    <div class="cc-overlay" ></div>
    <div class="cc-notification cc-shadow">
        <div>
            <span class="cc-title">{{ notification.title }}</span>
            <br/>
            <!-- Waiting indicator -->
            <img ng-show="notification.type == 'waiting'"  ng-src="{{ ::img_loader }}" width="26" height="26" />
            <br/>


            <!-- Payload -->
            <span class="cc-message" >{{ notification.message }}</span>

        </div>
        <!-- Buttons -->
        <div class="button-outer">
            <button class="uk-button uk-button-small" ng-show="notification.type == 'alert'" ng-click="submit()">{{ notification.button }}</button>
        </div>
    </div>
</div>