<div ng-controller="ProfileSettingsController" id="cc-profile-settings-box" class="cc-box cc-root-box cc-shadow" >

    <div class="uk-vertical-align uk-text-center uk-height-1-1 cc-inner-margin">
        <div class="uk-vertical-align-middle">

            <form class="uk-panel uk-form">
                <div class="uk-form-row">
                        <div class="uk-container-center cc-thumbnail-100" ng-style="{'background':'url('+getUser().meta.image+')'}">

                        <input class="cc-hidden-input" type="file" ng-file-select="onFileSelect($files)">
                    </div>
                    <div class="uk-progress uk-progress-mini uk-width-4-5 uk-container-center cc-animated-200" ng-style="uploadingFile ? {} : {'height': '0', 'margin-top':'-6px'}" >
                        <div class="uk-progress-bar" ng-style="{'width': uploadProgress + '%', 'opacity': uploadingFile ? 1 : 0}"></div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <input class="uk-width-1-1 " type="text" placeholder="Display name *" ng-model="getUser().meta.name"  ng-class="validation.name.valid ? '' : 'uk-form-danger'"/>
                </div>
                <div class="uk-form-row">
                    <textarea class="uk-width-1-1" rows="3" placeholder="Profile description" ng-model="getUser().meta.description"></textarea>
                </div>
                <div class="uk-form-row">
                    <div class="uk-width-1-2 uk-float-left uk-text-left" >Gender</div>
                    <select class="uk-width-1-2 uk-float-right" ng-model="getUser().meta.gender" required>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
                <div class="uk-form-row">
                    <div class="uk-width-1-2 uk-float-left  uk-text-left">Year of birth</div>
                    <div ng-include="'partials/year-of-birth-select.html'"></div>
                </div>
                <div class="uk-form-row">
                    <input class="uk-width-1-1" type="text" placeholder="City *" ng-model="getUser().meta.city" ng-class="validation.city.valid ? '' : 'uk-form-danger'"/>
                </div>
                <div class="uk-form-row">
                    <div ng-include="'partials/countries-select.html'"></div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-grid uk-grid-small">
                        <div class="uk-width-1-2">
                            <a class="uk-width-1-1 uk-button uk-button-danger" ng-click="logout()">Logout</a>
                        </div>
                        <div class="uk-width-1-2">
                            <a class="uk-width-1-1 uk-button uk-button-primary" ng-click="done()">Done</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div ng-include="'partials/notification.html'"></div>
</div>