<table class="uk-table uk-table-hover room-list">
    <tr ng-repeat="(id, room) in getRooms()">
        <td class="cc-pointer uk-position-relative" ng-click="roomClicked(room)">
            <div class="uk-overflow-container">
                <!-- Room name -->
                <div class="cc-ellipsis uk-float-left uk-text-bold" ng-style="{'max-width': boxWidth - 80 }">
                    <a ng-show="canDeleteRoom" ng-click="deleteRoom(room)"><img src="../img/cc-20-cross.png" /></a>
                    {{ room.getName() }}
                </div>
                <!-- Number of users -->
                <div class="uk-float-right cc-right-margin-5">
                    {{ room.userCount() }}
                    <img src="../img/cc-20-user.png" />
                    <div ng-show="room.badge" class="cc-badge">
                        {{ room.badge }}
                    </div>
                </div>
            </div>
            <!--We need to subtract 10 for the padding -->
            <div class="last-message cc-ellipsis" ng-style="{'width': boxWidth - 20 }">
                <div ng-show="room.lastMessage().user().meta.name && room.lastMessage().text">
                    <div class="uk-float-left cc-ellipsis title" >
                        {{ room.lastMessage().user().meta.name }}:
                    </div>
                    <div class="cc-ellipsis message">
                        &nbsp; {{ room.lastMessage().text }}
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>
