<div data-ng-hide="moreChatsMinimized" data-ng-style="{'height': boxHeight}"  data-ng-controller="RoomListBoxController">
    <div class="cc-room-list-bar" data-ng-click="toggle()">
        <div class="cc-base-text">
            <div class="cc-inner">
                <div class="uk-float-left">More Chats</div>
            </div>
        </div>
        <a data-ng-show="moreChatsMinimized">
            <img class="uk-float-left cc-image-30" data-ng-src="{{ ::img_30_maximize }}" disable-drag/>
        </a>
    </div>
    <div class="cc-box cc-room-list-box cc-shadow" data-ng-style="{'width' : boxWidth}" data-ng-hide="hideRoomList">
        <div class="cc-box-header" data-ng-style="{background: config.headerColor}">More Chats
            <a class="uk-float-right cc-image-30" title="Hide Chat" data-ng-click="minimize()">
                <img  data-ng-src="{{ ::img_30_minimize }}" />
            </a>
        </div>
        <!-- This 30 relates to the header height -->
        <div class="cc-hide-overflow-x" data-ng-style="{'height': boxHeight - 30}" >
            <div data-ng-include src=" partialsURL + 'room-list.html'"></div>
        </div>
    </div>
</div>
