<table class="uk-table uk-table-hover cc-room-list">
    <!--<tr ng-repeat="(id, room) in getRooms()">-->
    <tr ng-repeat="(key, room) in rooms">
        <td class="cc-pointer" ng-click="roomClicked(room)"
            title="{{ room.meta.description }}" cc-flash="room-list">
            <div class="uk-overflow-container cc-height-20 cc-pointer">

                <img ng-show="room.showImage" class="cc-thumbnail-30 cc-user-image uk-float-left" ng-src="{{ room.thumbnail }}"/>

                <!-- Room name -->
                <!-- Line height is a fix to stop icon being too low down -->
                <div class="uk-float-left cc-valign-image-fix cc-right-margin-5" >
                    <a class="cc-thumbnail-20" ng-show="canCloseRoom" ng-click="room.close()">
                        <img ng-src="{{ ::img_20_cross }}" />
                    </a>
                </div>
                <div class="uk-float-left uk-text-bold" ng-style="{'max-width': boxWidth - 85 }">
                    <div class="cc-ellipsis uk-float-left cc-pointer">
                        {{ room.name }}
                    </div>
                </div>
                <!-- Number of users -->
                <div class="uk-float-right cc-right-margin-5 cc-pointer">
                    <div class="cc-badge uk-float-right" ng-show="room.badge" >
                        {{ room.badge }}
                    </div>
                    <img class="uk-float-right"  ng-src="{{ ::img_20_user }}" />
                    <div class="uk-float-right"> {{ room.onlineUserCount }}</div>
                </div>
            </div>
            <!--We need to subtract 10 for the padding -->
            <div class="cc-last-message cc-ellipsis" ng-style="{'width': boxWidth - 20 }">
                <div ng-show="room.lastMessageMeta.userName && room.lastMessageMeta.text">
                    <div class="uk-float-left cc-ellipsis cc-title cc-pointer" >
                        {{ room.lastMessageMeta.userName }}:
                        &nbsp;
                    </div>
                    <div ng-show="!room.lastMessageMeta || room.lastMessageMeta.type == messageTypeText" class="cc-ellipsis cc-pointer cc-message" ng-bind-html="room.lastMessageMeta.text | linky: '_blank' | emoji">
                    </div>
                    <div ng-show="room.lastMessageMeta.type == messageTypeImage" class="cc-ellipsis cc-pointer cc-message">Image Message</div>
                </div>
            </div>
        </td>
    </tr>
</table>
