<table class="uk-table">
    <span class="cc-section-header">{{ sectionHeader }}</span>
    <tr ng-repeat="(id, aUser) in getUsers()" ng-mouseover="showProfileBox(aUser.meta.uid)" ng-mouseleave="showProfileBox(null)">
        <td class="cc-row" ng-class="isOnline(aUser) ? 'cc-pointer' : null" draggable-user="user">
            <img class="cc-thumbnail-20 cc-right-margin-5 uk-float-left" ng-src="{{ aUser.thumbnailURL(20) }}"/>
            <span class="uk-float-left">{{ aUser.meta.name }}</span>

            <div class="f16 uk-float-left cc-flag"  >
                <span class="flag {{ aUser.meta.country | lowercase }}"></span>
            </div>
            <button class="uk-button uk-button-mini uk-float-right" ng-class="buttonClassForUser(aUser)" ng-click="userClicked(aUser)">{{ buttonTextForUser(aUser) }}</button>
        </td>
    </tr>
</table>
