<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/cf-default.css"/>

    <!-- Flags -->
    <link rel="stylesheet" href="libs/flags/stylesheets/flags/common.css"/>
    <link rel="stylesheet" href="libs/flags/stylesheets/flags/flags32.css"/>
    <link rel="stylesheet" href="libs/flags/stylesheets/flags/flags16.css"/>

    <!-- Speech bubbles -->
    <!--<link rel="stylesheet" href="libs/bubble.css" />-->

    <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>

    <!-- Include UIKit components -->
    <script src="bower_components/uikit/dist/js/uikit.js"></script>
    <link rel="stylesheet" href="bower_components/uikit/dist/css/uikit.css">
    <link rel="stylesheet" href="bower_components/uikit/dist/css/uikit.gradient.css">

    <style type="text/css">
        .css-form input.ng-invalid.ng-dirty {
            background-color: #fabfbc;
        }
        .css-form input.ng-valid {
            background-color: #cbfac4;
        }
    </style>

</head>
<body >
<!--<body style="background: url(img/128-191.jpg) repeat">-->
<div class="uk-panel uk-panel-box" style="margin: 30px; width: 400px">
    <h3 class="uk-panel-title">v1.0 beta 2</h3>

    <p>
        This product is still in beta and it's missing a number of features that will exist in the final product. This URL has been made available
        for a number of selected testers only and shouldn't be made public. If you find bugs please email me at <a href="mailto:ben@deluge.co">ben@deluge.co</a>.
    </p>
    <p>
        The easiest way to test the chat is by opening sessions in two different browsers i.e. Firefox and Chrome.
        You can then start a chat between your two windows.
    </p>

</div>

<br>
<br>
<br>

<!-- #45 Added ng-cloak  -->
<div ng-app="myApp" ng-controller="AppController" ng-cloak >

    <!--<div style="position: absolute; top: 0; left: 0">-->
        <div class="cc-user-drag" ng-class="userDrag.dropLoc ? 'cc-bg-blue' : null" ng-show="userDrag.dragging" ng-style="{'left':userDrag.x, 'top':userDrag.y}">
            <img class="cc-thumbnail-20"  ng-src="{{ userDrag.user.thumbnailURL(20) }}"  />
            {{ userDrag.user.meta.name }}
        </div>
    <!--</div>-->

    <div id="cc-base">

        <div id="cf-menu-bar" class="cf-menu-bar" ng-click="toggleMainBoxVisibility()">
            <div class="uk-float-left cc-base-text">
                <div class="inner">
                    {{ numberOfUsersOnline() }} People here
                    <a ng-click="shutdown()" title="{{ on ? 'Shutdown the chat' : 'Turn on chat' }}" consume-event>
                        <img class="cc-image-30 uk-float-right" ng-src="img/{{ shutdownImage() }}" />
                    </a>
                </div>
            </div>
         </div>

        <div ng-show="on">
            <div ng-show="activeBox == 'loginBox' && !minimize" ng-include="'partials/login-box.html'"></div>
            <div ng-show="activeBox == 'profileSettingsBox' && !minimize" ng-include="'partials/profile-settings-box.html'"></div>
            <div ng-show="activeBox == 'mainBox' && !minimize" ng-include="'partials/main-box.html'"></div>
            <div ng-show="activeBox == 'createRoomBox' && !minimize" ng-include="'partials/create-room-box.html'"></div>

            <div ng-repeat="(id, room) in getAllRooms()">
                <div ng-controller="ChatController" ng-init="init(room)" ng-include="'partials/chat-room.html'"></div>
            </div>

            <div ng-include="'partials/room-list-box.html'"></div>
            <div ng-include="'partials/profile-box.html'"></div>
        </div>

    </div>
</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>

  <!--Drag and drop-->
  <!--<script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>-->

  <!-- File upload -->
  <script src="bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
  <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>


  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/defines.js"></script>
  <script src="js/user.js"></script>
  <script src="js/utilities.js"></script>

<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>

<script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>

<script type="text/javascript">


</script>


</body>
</html>
